In [1]:
import pandas as pd
import glob
import shutil
import sys
import numpy as np

In [2]:
# Manual cleaning
    # Removed "Loans that do not meet credit policy"
    # Removed all the lines beginning with "Total amount"
    # All the empty cells made 0
    # Remove first line from all the CSVs. There is some comment.

## Load data
Use read_csv function to load the data. I am already using the dtype for the right kind of assignments. While it takes longer to code it, it helped me later.

In [3]:
# Load all the csv files.
loan_data = pd.DataFrame()
for file in glob.glob("Loan*.csv"):
    print(file)
    df = pd.read_csv(file, dtype={'id':float,  # 0
                                  'member_id':float,  # 1
                                  'loan_amnt':int,  # 2
                                  'funded_amnt':int,  # 3
                                  'funded_amnt_inv':str,  # 4
                                  'term':str,  # 5
                                  'int_rate':str,  # 6
                                  'installment':float,  # 7
                                  'grade':str,  # 8
                                  'sub_grade':str,  # 9
                                  'emp_title':str,  # 10
                                  'emp_length':str,  # 11
                                  'home_ownership':str,  # 12
                                  'annual_inc':str,  # 13
                                  'verification_status':str,  # 14
                                  'issue_d':str,  # 15
                                  'loan_status':str,  # 16
                                  'pymnt_plan':str,  # 17
                                  'url':str,  # 18
                                  'desc':str,  # 19
                                  'purpose':str,  # 20
                                  'title':str,  # 21
                                  'zip_code':str,  # 22
                                  'addr_state':str,  # 23
                                  'dti':float,  # 24
                                  'delinq_2yrs':int,  # 25
                                  'earliest_cr_line':str,  # 26
                                  'inq_last_6mths':int,  # 27
                                  'mths_since_last_delinq':float,  # 28
                                  'mths_since_last_record':float,  # 29
                                  'open_acc':int,  # 30
                                  'pub_rec':int,  # 31
                                  'revol_bal':int,  # 32
                                  'revol_util':str,  # 33
                                  'total_acc':int,  # 34
                                  'initial_list_status':str,  # 35
                                  'out_prncp':float,  # 36
                                  'out_prncp_inv':float,  # 37
                                  'total_pymnt':float,  # 38
                                  'total_pymnt_inv':float,  # 39
                                  'total_rec_prncp':float,  # 40
                                  'total_rec_int':float,  # 41
                                  'total_rec_late_fee':float,  # 42
                                  'recoveries':float,  # 43
                                  'collection_recovery_fee':float,  # 44
                                  'last_pymnt_d':str,  # 45
                                  'last_pymnt_amnt':float,  # 46
                                  'next_pymnt_d':str,  # 47
                                  'last_credit_pull_d':str,  # 48
                                  'collections_12_mths_ex_med':int,  # 49
                                  'mths_since_last_major_derog':float,  # 50
                                  'policy_code':int,  # 51
                                  'application_type':str,  # 52
                                  'annual_inc_joint':float,  # 53
                                  'dti_joint':float,  # 54
                                  'verification_status_joint':str,  # 55
                                  'acc_now_delinq':int,  # 56
                                  'tot_coll_amt':float,  # 57
                                  'tot_cur_bal':float,  # 58
                                  'open_acc_6m':float,  # 59
                                  'open_act_il':float,  # 60
                                  'open_il_12m':float,  # 61
                                  'open_il_24m':float,  # 62
                                  'mths_since_rcnt_il':float,  # 63
                                  'total_bal_il':float,  # 64
                                  'il_util':float,  # 65
                                  'open_rv_12m':float,  # 66
                                  'open_rv_24m':float,  # 67
                                  'max_bal_bc':float,  # 68
                                  'all_util':float,  # 69
                                  'total_rev_hi_lim':float,  # 70
                                  'inq_fi':float,  # 71
                                  'total_cu_tl':float,  # 72
                                  'inq_last_12m':float,  # 73
                                  'acc_open_past_24mths':float,  # 74
                                  'avg_cur_bal':float,  # 75
                                  'bc_open_to_buy':float,  # 76
                                  'bc_util':float,  # 77
                                  'chargeoff_within_12_mths':int,  # 78
                                  'delinq_amnt':int,  # 79
                                  'mo_sin_old_il_acct':float,  # 80
                                  'mo_sin_old_rev_tl_op':float,  # 81
                                  'mo_sin_rcnt_rev_tl_op':float,  # 82
                                  'mo_sin_rcnt_tl':float,  # 83
                                  'mort_acc':float,  # 84
                                  'mths_since_recent_bc':float,  # 85
                                  'mths_since_recent_bc_dlq':float,  # 86
                                  'mths_since_recent_inq':float,  # 87
                                  'mths_since_recent_revol_delinq':float,  # 88
                                  'num_accts_ever_120_pd':float,  # 89
                                  'num_actv_bc_tl':float,  # 90
                                  'num_actv_rev_tl':float,  # 91
                                  'num_bc_sats':float,  # 92
                                  'num_bc_tl':float,  # 93
                                  'num_il_tl':float,  # 94
                                  'num_op_rev_tl':float,  # 95
                                  'num_rev_accts':float,  # 96
                                  'num_rev_tl_bal_gt_0':float,  # 97
                                  'num_sats':float,  # 98
                                  'num_tl_120dpd_2m':float,  # 99
                                  'num_tl_30dpd':float,  # 100
                                  'num_tl_90g_dpd_24m':float,  # 101
                                  'num_tl_op_past_12m':float,  # 102
                                  'pct_tl_nvr_dlq':float,  # 103
                                  'percent_bc_gt_75':float,  # 104
                                  'pub_rec_bankruptcies':float,  # 105
                                  'tax_liens':int,  # 106
                                  'tot_hi_cred_lim':float,  # 107
                                  'total_bal_ex_mort':float,  # 108
                                  'total_bc_limit':float,  # 109
                                  'total_il_high_credit_limit':float,  # 110
                                  'revol_bal_joint':float,  # 111
                                  'sec_app_earliest_cr_line':str,  # 112
                                  'sec_app_inq_last_6mths':float,  # 113
                                  'sec_app_mort_acc':float,  # 114
                                  'sec_app_open_acc':float,  # 115
                                  'sec_app_revol_util':float,  # 116
                                  'sec_app_open_act_il':float,  # 117
                                  'sec_app_num_rev_accts':float,  # 118
                                  'sec_app_chargeoff_within_12_mths':float,  # 119
                                  'sec_app_collections_12_mths_ex_med':float,  # 120
                                  'sec_app_mths_since_last_major_derog':float,  # 121
                                  'hardship_flag':str,  # 122
                                  'hardship_type':str,  # 123
                                  'hardship_reason':str,  # 124
                                  'hardship_status':str,  # 125
                                  'deferral_term':float,  # 126
                                  'hardship_amount':float,  # 127
                                  'hardship_start_date':str,  # 128
                                  'hardship_end_date':str,  # 129
                                  'payment_plan_start_date':str,  # 130
                                  'hardship_length':float,  # 131
                                  'hardship_dpd':float,  # 132
                                  'hardship_loan_status':str,  # 133
                                  'orig_projected_additional_accrued_interest':float,  # 134
                                  'hardship_payoff_balance_amount':float,  # 135
                                  'hardship_last_payment_amount':float,  # 136
                                  'disbursement_method':str,  # 137
                                  'debt_settlement_flag':str,  # 138
                                  'debt_settlement_flag_date':str,  # 139
                                  'settlement_status':str,  # 140
                                  'settlement_date':str,  # 141
                                  'settlement_amount':str,  # 142
                                  'settlement_percentage':str,  # 143
                                  'settlement_term':str})
    # df = pd.read_csv(file, dtype={'loan_amnt':int, 'funded_amnt':int, 'funded_amnt_inv':str, 'term':str, 'int_rate':str, 'installment':float, 'grade':str, 'sub_grade':str, 'emp_title':str, 'emp_length':str, 'home_ownership':str, 'annual_inc':str, 'verification_status':str, 'issue_d':str, 'loan_status':str, 'pymnt_plan':str, 'url':str, 'desc':str, 'purpose':str, 'title':str, 'zip_code':str, 'addr_state':str, 'dti':float, 'delinq_2yrs':int, 'earliest_cr_line':str, 'inq_last_6mths':int, 'mths_since_last_delinq':int, 'mths_since_last_record':int, 'open_acc':int, 'pub_rec':int, 'revol_bal':int, 'revol_util':str, 'total_acc':int, 'initial_list_status':str, 'out_prncp':float, 'out_prncp_inv':float, 'total_pymnt':float, 'total_pymnt_inv':float, 'total_rec_prncp':float, 'total_rec_int':float, 'total_rec_late_fee':int, 'recoveries':int, 'collection_recovery_fee':int, 'last_pymnt_d':str, 'last_pymnt_amnt':float, 'next_pymnt_d':str, 'last_credit_pull_d':str, 'collections_12_mths_ex_med':int, 'mths_since_last_major_derog':int, 'policy_code':int, 'application_type':str, 'annual_inc_joint':int, 'dti_joint':int, 'verification_status_joint':int, 'acc_now_delinq':int, 'tot_coll_amt':int, 'tot_cur_bal':int, 'open_acc_6m':int, 'open_act_il':int, 'open_il_12m':int, 'open_il_24m':int, 'mths_since_rcnt_il':int, 'total_bal_il':int, 'il_util':int, 'open_rv_12m':int, 'open_rv_24m':int, 'max_bal_bc':int, 'all_util':int, 'total_rev_hi_lim':int, 'inq_fi':int, 'total_cu_tl':int, 'inq_last_12m':int, 'acc_open_past_24mths':int, 'avg_cur_bal':int, 'bc_open_to_buy':int, 'bc_util':float, 'chargeoff_within_12_mths':int, 'delinq_amnt':int, 'mo_sin_old_il_acct':int, 'mo_sin_old_rev_tl_op':int, 'mo_sin_rcnt_rev_tl_op':int, 'mo_sin_rcnt_tl':int, 'mort_acc':int, 'mths_since_recent_bc':int, 'mths_since_recent_bc_dlq':int, 'mths_since_recent_inq':int, 'mths_since_recent_revol_delinq':int, 'num_accts_ever_120_pd':int, 'num_actv_bc_tl':int, 'num_actv_rev_tl':int, 'num_bc_sats':int, 'num_bc_tl':int, 'num_il_tl':int, 'num_op_rev_tl':int, 'num_rev_accts':int, 'num_rev_tl_bal_gt_0':int, 'num_sats':int, 'num_tl_120dpd_2m':int, 'num_tl_30dpd':int, 'num_tl_90g_dpd_24m':int, 'num_tl_op_past_12m':int, 'pct_tl_nvr_dlq':float, 'percent_bc_gt_75':float, 'pub_rec_bankruptcies':int, 'tax_liens':int, 'tot_hi_cred_lim':int, 'total_bal_ex_mort':int, 'total_bc_limit':int, 'total_il_high_credit_limit':int, 'revol_bal_joint':int, 'sec_app_earliest_cr_line':int, 'sec_app_inq_last_6mths':int, 'sec_app_mort_acc':int, 'sec_app_open_acc':int, 'sec_app_revol_util':int, 'sec_app_open_act_il':int, 'sec_app_num_rev_accts':int, 'sec_app_chargeoff_within_12_mths':int, 'sec_app_collections_12_mths_ex_med':int, 'sec_app_mths_since_last_major_derog':int, 'hardship_flag':str, 'hardship_type':str, 'hardship_reason':str, 'hardship_status':str, 'deferral_term':int, 'hardship_amount':float, 'hardship_start_date':str, 'hardship_end_date':str, 'payment_plan_start_date':str, 'hardship_length':int, 'hardship_dpd':int, 'hardship_loan_status':str, 'orig_projected_additional_accrued_interest':float, 'hardship_payoff_balance_amount':float, 'hardship_last_payment_amount':float, 'disbursement_method':str, 'debt_settlement_flag':str, 'debt_settlement_flag_date':str, 'settlement_status':str, 'settlement_date':str, 'settlement_amount':str, 'settlement_percentage':str, 'settlement_term':str})
    loan_data = loan_data.append(df)

LoanStats_2016Q3.csv
LoanStats_2017Q2.csv
LoanStats3b.csv
LoanStats3d.csv
LoanStats_2017Q1.csv
LoanStats3c.csv
LoanStats_2016Q4.csv
LoanStats_2017Q4.csv
LoanStats_2017Q3.csv
LoanStats_2016Q1.csv
LoanStats3a.csv
LoanStats_2016Q2.csv

### Basic operations
Get the size of the dataframe. Also, print it. It gives a quick high level view of how the data looks like.

In [4]:
# Delete columns, where all the entries are 0.
loan_data = loan_data.loc[:, (loan_data != 0).any(axis=0)]
print(loan_data.shape)
loan_data.info()

(1765428, 145)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1765428 entries, 0 to 97853
Columns: 145 entries, id to settlement_term
dtypes: float64(87), int64(14), object(44)
memory usage: 1.9+ GB

In [5]:
loan_data.to_pickle('loan_data_raw.pkl')

In [6]:
print(loan_data)

        id  member_id  loan_amnt  funded_amnt funded_amnt_inv        term  \
0      0.0        NaN      10000        10000           10000   36 months
1      0.0        NaN      15000        15000           15000   36 months
2      0.0        NaN      17000        17000           17000   36 months
3      0.0        NaN       9000         9000            9000   36 months
4      0.0        NaN       3250         3250            3250   36 months
5      0.0        NaN      20000        20000           20000   36 months
6      0.0        NaN      24000        24000           24000   60 months
7      0.0        NaN       5000         5000            5000   36 months
8      0.0        NaN      15000        15000           15000   36 months
9      0.0        NaN      15000        15000           15000   36 months
10     0.0        NaN       3000         3000            3000   36 months
11     0.0        NaN      35000        35000           35000   36 months
12     0.0        NaN       5000         5000            5000   36 months
13     0.0        NaN       3000         3000            3000   36 months
14     0.0        NaN      18000        18000           18000   60 months
15     0.0        NaN      12000        12000           12000   60 months
16     0.0        NaN      12000        12000           12000   60 months
17     0.0        NaN       8000         8000            8000   36 months
18     0.0        NaN      10000        10000           10000   36 months
19     0.0        NaN      10000        10000           10000   36 months
20     0.0        NaN      20000        20000           20000   36 months
21     0.0        NaN       6400         6400            6400   36 months
22     0.0        NaN      30000        30000           30000   60 months
23     0.0        NaN       1000         1000            1000   36 months
24     0.0        NaN      30000        30000           30000   36 months
25     0.0        NaN       3000         3000            3000   36 months
26     0.0        NaN       8400         8400            8400   36 months
27     0.0        NaN      12000        12000           12000   60 months
28     0.0        NaN       6000         6000            6000   36 months
29     0.0        NaN       6000         6000            6000   36 months
...    ...        ...        ...          ...             ...         ...
97824  0.0        NaN      12000        12000           12000   36 months
97825  0.0        NaN      14000        14000           14000   60 months
97826  0.0        NaN      35000        35000           35000   60 months
97827  0.0        NaN      15000        15000           15000   60 months
97828  0.0        NaN       5000         5000            5000   36 months
97829  0.0        NaN      15000        15000           15000   36 months
97830  0.0        NaN      10000        10000           10000   36 months
97831  0.0        NaN      15000        15000           15000   36 months
97832  0.0        NaN      30600        30600           30600   36 months
97833  0.0        NaN       8000         8000            8000   36 months
97834  0.0        NaN       7000         7000            7000   36 months
97835  0.0        NaN      30000        30000           29925   36 months
97836  0.0        NaN      12000        12000           12000   60 months
97837  0.0        NaN      14000        14000           14000   36 months
97838  0.0        NaN       8775         8775            8775   36 months
97839  0.0        NaN      19050        19050           19050   36 months
97840  0.0        NaN      10625        10625           10625   36 months
97841  0.0        NaN      27100        27100           27050   36 months
97842  0.0        NaN      24475        24475           24400   36 months
97843  0.0        NaN      10000        10000           10000   36 months
97844  0.0        NaN      19600        19600           19600   60 months
97845  0.0        NaN      28000        28000           28000   60 months
97846  0.0        NaN      22400        22400           22400   60 months
97847  0.0        NaN      13350        13350           13350   60 months
97848  0.0        NaN       5000         5000            5000   36 months
97849  0.0        NaN       7000         7000            7000   36 months
97850  0.0        NaN      21475        21475           21475   60 months
97851  0.0        NaN       6050         6050            6050   60 months
97852  0.0        NaN      30000        30000           30000   60 months
97853  0.0        NaN       5000         5000            5000   36 months

      int_rate  installment grade sub_grade       ...        \
0        8.59%       316.10     A        A5       ...
1       13.99%       512.60     C        C3       ...
2       14.49%       585.08     C        C4       ...
3       10.99%       294.61     B        B4       ...
4       13.49%       110.28     C        C2       ...
5       14.49%       688.33     C        C4       ...
6       15.59%       578.42     C        C5       ...
7       13.99%       170.87     C        C3       ...
8        5.32%       451.73     A        A1       ...
9       12.79%       503.90     C        C1       ...
10      11.49%        98.92     B        B5       ...
11      19.99%      1300.55     D        D4       ...
12       8.99%       158.98     B        B1       ...
13       8.59%        94.83     A        A5       ...
14      14.49%       423.42     C        C4       ...
15      24.99%       352.15     E        E4       ...
16      12.79%       271.75     C        C1       ...
17      12.79%       268.75     C        C1       ...
18      10.49%       324.98     B        B3       ...
19       9.49%       320.29     B        B2       ...
20       6.99%       617.46     A        A2       ...
21       7.99%       200.53     A        A4       ...
22      13.99%       697.90     C        C3       ...
23      13.49%        33.94     C        C2       ...
24      10.99%       982.02     B        B4       ...
25      14.49%       103.25     C        C4       ...
26      13.49%       285.02     C        C2       ...
27      22.39%       334.10     E        E1       ...
28      13.49%       203.59     C        C2       ...
29      13.99%       205.04     C        C3       ...
...        ...          ...   ...       ...       ...
97824    7.89%       375.43     A        A5       ...
97825   16.29%       342.62     D        D1       ...
97826   22.45%       975.64     E        E5       ...
97827   13.67%       346.47     C        C3       ...
97828   16.29%       176.51     D        D1       ...
97829    9.75%       482.25     B        B3       ...
97830   11.99%       332.10     C        C1       ...
97831   16.29%       529.51     D        D1       ...
97832   13.67%      1040.94     C        C3       ...
97833    5.32%       240.92     A        A1       ...
97834    5.32%       210.81     A        A1       ...
97835   20.75%      1126.41     E        E2       ...
97836    9.75%       253.50     B        B3       ...
97837   10.75%       456.69     B        B4       ...
97838   12.99%       295.63     C        C2       ...
97839   15.31%       663.28     C        C5       ...
97840    6.97%       327.93     A        A3       ...
97841   12.99%       912.98     C        C2       ...
97842   11.47%       806.74     B        B5       ...
97843   10.75%       326.21     B        B4       ...
97844   11.47%       430.76     B        B5       ...
97845   28.67%       883.16     G        G4       ...
97846   28.34%       702.05     G        G3       ...
97847   28.34%       418.41     G        G3       ...
97848    8.39%       157.59     B        B1       ...
97849    5.32%       210.81     A        A1       ...
97850   17.27%       536.84     D        D2       ...
97851   18.25%       154.46     D        D3       ...
97852   18.99%       778.06     D        D4       ...
97853   10.75%       163.11     B        B4       ...

      hardship_payoff_balance_amount hardship_last_payment_amount  \
0                                NaN                          NaN
1                                NaN                          NaN
2                                NaN                          NaN
3                                NaN                          NaN
4                            2417.63                       110.04
5                                NaN                          NaN
6                                NaN                          NaN
7                                NaN                          NaN
8                                NaN                          NaN
9                                NaN                          NaN
10                               NaN                          NaN
11                               NaN                          NaN
12                               NaN                          NaN
13                               NaN                          NaN
14                               NaN                          NaN
15                               NaN                          NaN
16                               NaN                          NaN
17                               NaN                          NaN
18                               NaN                          NaN
19                               NaN                          NaN
20                               NaN                          NaN
21                               NaN                          NaN
22                               NaN                          NaN
23                               NaN                          NaN
24                               NaN                          NaN
25                               NaN                          NaN
26                               NaN                          NaN
27                               NaN                          NaN
28                               NaN                          NaN
29                               NaN                          NaN
...                              ...                          ...
97824                            NaN                          NaN
97825                            NaN                          NaN
97826                            NaN                          NaN
97827                            NaN                          NaN
97828                            NaN                          NaN
97829                            NaN                          NaN
97830                            NaN                          NaN
97831                            NaN                          NaN
97832                            NaN                          NaN
97833                            NaN                          NaN
97834                            NaN                          NaN
97835                            NaN                          NaN
97836                            NaN                          NaN
97837                            NaN                          NaN
97838                            NaN                          NaN
97839                            NaN                          NaN
97840                            NaN                          NaN
97841                            NaN                          NaN
97842                            NaN                          NaN
97843                            NaN                          NaN
97844                            NaN                          NaN
97845                            NaN                          NaN
97846                            NaN                          NaN
97847                            NaN                          NaN
97848                            NaN                          NaN
97849                            NaN                          NaN
97850                            NaN                          NaN
97851                            NaN                          NaN
97852                            NaN                          NaN
97853                            NaN                          NaN

      disbursement_method debt_settlement_flag debt_settlement_flag_date  \
0                    Cash                    N                       NaN
1                    Cash                    N                       NaN
2                    Cash                    N                       NaN
3                    Cash                    N                       NaN
4                    Cash                    N                       NaN
5                    Cash                    N                       NaN
6                    Cash                    N                       NaN
7                    Cash                    N                       NaN
8                    Cash                    N                       NaN
9                    Cash                    N                       NaN
10                   Cash                    N                       NaN
11                   Cash                    N                       NaN
12                   Cash                    N                       NaN
13                   Cash                    N                       NaN
14                   Cash                    N                       NaN
15                   Cash                    N                       NaN
16                   Cash                    N                       NaN
17                   Cash                    N                       NaN
18                   Cash                    N                       NaN
19                   Cash                    N                       NaN
20                   Cash                    N                       NaN
21                   Cash                    N                       NaN
22                   Cash                    N                       NaN
23                   Cash                    N                       NaN
24                   Cash                    N                       NaN
25                   Cash                    N                       NaN
26                   Cash                    N                       NaN
27                   Cash                    N                       NaN
28                   Cash                    N                       NaN
29                   Cash                    N                       NaN
...                   ...                  ...                       ...
97824                Cash                    N                       NaN
97825                Cash                    N                       NaN
97826                Cash                    N                       NaN
97827                Cash                    N                       NaN
97828                Cash                    N                       NaN
97829                Cash                    N                       NaN
97830                Cash                    N                       NaN
97831                Cash                    N                       NaN
97832                Cash                    N                       NaN
97833                Cash                    N                       NaN
97834                Cash                    N                       NaN
97835                Cash                    N                       NaN
97836                Cash                    N                       NaN
97837                Cash                    N                       NaN
97838                Cash                    N                       NaN
97839                Cash                    N                       NaN
97840                Cash                    N                       NaN
97841                Cash                    N                       NaN
97842                Cash                    N                       NaN
97843                Cash                    N                       NaN
97844                Cash                    N                       NaN
97845                Cash                    N                       NaN
97846                Cash                    N                       NaN
97847                Cash                    N                       NaN
97848                Cash                    N                       NaN
97849                Cash                    N                       NaN
97850                Cash                    N                       NaN
97851                Cash                    N                       NaN
97852                Cash                    N                       NaN
97853                Cash                    N                       NaN

      settlement_status settlement_date settlement_amount  \
0                   NaN             NaN               NaN
1                   NaN             NaN               NaN
2                   NaN             NaN               NaN
3                   NaN             NaN               NaN
4                   NaN             NaN               NaN
5                   NaN             NaN               NaN
6                   NaN             NaN               NaN
7                   NaN             NaN               NaN
8                   NaN             NaN               NaN
9                   NaN             NaN               NaN
10                  NaN             NaN               NaN
11                  NaN             NaN               NaN
12                  NaN             NaN               NaN
13                  NaN             NaN               NaN
14                  NaN             NaN               NaN
15                  NaN             NaN               NaN
16                  NaN             NaN               NaN
17                  NaN             NaN               NaN
18                  NaN             NaN               NaN
19                  NaN             NaN               NaN
20                  NaN             NaN               NaN
21                  NaN             NaN               NaN
22                  NaN             NaN               NaN
23                  NaN             NaN               NaN
24                  NaN             NaN               NaN
25                  NaN             NaN               NaN
26                  NaN             NaN               NaN
27                  NaN             NaN               NaN
28                  NaN             NaN               NaN
29                  NaN             NaN               NaN
...                 ...             ...               ...
97824               NaN             NaN               NaN
97825               NaN             NaN               NaN
97826               NaN             NaN               NaN
97827               NaN             NaN               NaN
97828               NaN             NaN               NaN
97829               NaN             NaN               NaN
97830               NaN             NaN               NaN
97831               NaN             NaN               NaN
97832               NaN             NaN               NaN
97833               NaN             NaN               NaN
97834               NaN             NaN               NaN
97835               NaN             NaN               NaN
97836               NaN             NaN               NaN
97837               NaN             NaN               NaN
97838               NaN             NaN               NaN
97839               NaN             NaN               NaN
97840               NaN             NaN               NaN
97841               NaN             NaN               NaN
97842               NaN             NaN               NaN
97843               NaN             NaN               NaN
97844               NaN             NaN               NaN
97845               NaN             NaN               NaN
97846               NaN             NaN               NaN
97847               NaN             NaN               NaN
97848               NaN             NaN               NaN
97849               NaN             NaN               NaN

### Now read the dictionary also
It has all the information about the various headers of the load_data

In [7]:
# Load the dictionary from Lending Club data
# loan_dict = pd.read_excel(open('LCDataDictionary.xlsx','rb'), sheetname='LoanStats')
loan_dict = pd.read_excel(open('LCDataDictionary.xlsx','rb'), sheet_name='LoanStats')

In [8]:
# Changing max-column-width option for better print.
pd.set_option('max_colwidth',1000)

In [9]:
import operator 
# Find all the NaN
# See what percentage of each column is NaN
x_pct = {}
length = len(loan_data)
for y in loan_data.columns:
    if loan_data[y].isnull().sum() > 0:
        x_cnt = loan_data[y].isnull().sum()
        x_pct[y] = 100.0*x_cnt/length
        
x_pct_list = sorted(x_pct.items(), key=operator.itemgetter(1), reverse=True)
        
for f, val in x_pct_list:
    print(f, val)
    print(loan_dict.loc[loan_dict['LoanStatNew'] == f]['Description'])
    print('------')

settlement_term 99.20591493960671
150    The number of months that the borrower will be on the settlement plan
Name: Description, dtype: object
------
member_id 90.00672924639238
44    A unique LC assigned Id for the borrower member.
Name: Description, dtype: object
------
url 90.00672924639238
111    URL for the LC page with listing data.
Name: Description, dtype: object
------
orig_projected_additional_accrued_interest 89.76616435221374
140    The original projected additional interest amount that will accrue for the given hardship payment plan as of the Hardship Start Date. This field will be null if the borrower has broken their hardship payment plan.
Name: Description, dtype: object
------
hardship_type 89.71631808264058
129    Describes the hardship plan offering
Name: Description, dtype: object
------
hardship_reason 89.71631808264058
130    Describes the reason the hardship plan was offered
Name: Description, dtype: object
------
hardship_status 89.71631808264058
131    Describes if the hardship plan is active, pending, canceled, completed, or broken
Name: Description, dtype: object
------
deferral_term 89.71631808264058
132    Amount of months that the borrower is expected to pay less than the contractual monthly payment amount due to a hardship plan
Name: Description, dtype: object
------
hardship_amount 89.71631808264058
133    The interest payment that the borrower has committed to make each month while they are on a hardship plan
Name: Description, dtype: object
------
hardship_start_date 89.71631808264058
134    The start date of the hardship plan period
Name: Description, dtype: object
------
hardship_end_date 89.71631808264058
135    The end date of the hardship plan period
Name: Description, dtype: object
------
payment_plan_start_date 89.71631808264058
136    The day the first hardship plan payment is due. For example, if a borrower has a hardship plan period of 3 months, the start date is the start of the three-month period in which the borrower is allowed to make interest-only payments.
Name: Description, dtype: object
------
hardship_length 89.71631808264058
137    The number of months the borrower will make smaller payments than normally obligated due to a hardship plan
Name: Description, dtype: object
------
hardship_dpd 89.71631808264058
138    Account days past due as of the hardship plan start date
Name: Description, dtype: object
------
hardship_loan_status 89.71631808264058
139    Loan Status as of the hardship plan start date
Name: Description, dtype: object
------
hardship_payoff_balance_amount 89.71631808264058
141    The payoff balance amount as of the hardship plan start date
Name: Description, dtype: object
------
hardship_last_payment_amount 89.71631808264058
142    The last payment amount as of the hardship plan start date
Name: Description, dtype: object
------
debt_settlement_flag_date 89.29692969636825
145    The most recent date that the Debt_Settlement_Flag has been set
Name: Description, dtype: object
------
settlement_status 89.29692969636825
146    The status of the borrowers settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT
Name: Description, dtype: object
------
settlement_date 89.29692969636825
147    The date that the borrower agrees to the settlement plan
Name: Description, dtype: object
------
settlement_amount 89.29692969636825
148    The loan amount that the borrower has agreed to settle for
Name: Description, dtype: object
------
settlement_percentage 89.29692969636825
149    The settlement amount as a percentage of the payoff balance amount on the loan
Name: Description, dtype: object
------
sec_app_mths_since_last_major_derog 89.23836032961978
Series([], Name: Description, dtype: object)
------
sec_app_revol_util 87.83184587533448
Series([], Name: Description, dtype: object)
------
revol_bal_joint 87.79565068640579
Series([], Name: Description, dtype: object)
------
sec_app_earliest_cr_line 87.79559404291764
Series([], Name: Description, dtype: object)
------
sec_app_inq_last_6mths 87.79559404291764
Series([], Name: Description, dtype: object)
------
sec_app_mort_acc 87.79559404291764
Series([], Name: Description, dtype: object)
------
sec_app_open_acc 87.79559404291764
Series([], Name: Description, dtype: object)
------
sec_app_open_act_il 87.79559404291764
123     Number of currently active installment trades at time of application for the secondary applicant
Name: Description, dtype: object
------
sec_app_num_rev_accts 87.79559404291764
Series([], Name: Description, dtype: object)
------
sec_app_chargeoff_within_12_mths 87.79559404291764
Series([], Name: Description, dtype: object)
------
sec_app_collections_12_mths_ex_med 87.79559404291764
Series([], Name: Description, dtype: object)
------
verification_status_joint 87.22791300466515
Series([], Name: Description, dtype: object)
------
dti_joint 87.22768643071255
17    A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
Name: Description, dtype: object
------
annual_inc_joint 87.22757314373625
5    The combined self-reported annual income provided by the co-borrowers during registration
Name: Description, dtype: object
------
desc 84.52284658451096
15    Loan description provided by the borrower
Name: Description, dtype: object
------
id 81.25887886676772
27    A unique LC assigned ID for the loan listing.
Name: Description, dtype: object
------
mths_since_last_record 74.77812745691129
52    The number of months since the last public record.
Name: Description, dtype: object
------
mths_since_recent_bc_dlq 68.03840201922706
55    Months since most recent bankcard delinquency
Name: Description, dtype: object
------
mths_since_last_major_derog 65.77079325806547
51    Months since most recent 90-day or worse rating
Name: Description, dtype: object
------
mths_since_recent_revol_delinq 58.85926812081829
57    Months since most recent revolving delinquency.
Name: Description, dtype: object
------
il_util 52.54317933101775
28    Ratio of total current balance to high credit/credit limit on all install acct
Name: Description, dtype: object
------
mths_since_rcnt_il 47.87949437756737
53    Months since most recent installment accounts opened
Name: Description, dtype: object
------
all_util 46.65253978072173
3    Balance to credit limit on all trades
Name: Description, dtype: object
------
open_acc_6m 46.64778172771702
74    Number of open trades in last 6 months
Name: Description, dtype: object
------
open_act_il 46.64778172771702
77    Number of currently active installment trades
Name: Description, dtype: object
------
open_il_12m 46.64778172771702
75    Number of installment accounts opened in past 12 months
Name: Description, dtype: object
------
open_il_24m 46.64778172771702
76    Number of installment accounts opened in past 24 months
Name: Description, dtype: object
------
total_bal_il 46.64778172771702
101    Total current balance of all installment accounts
Name: Description, dtype: object
------
open_rv_12m 46.64778172771702
78    Number of revolving trades opened in past 12 months
Name: Description, dtype: object
------
open_rv_24m 46.64778172771702
79    Number of revolving trades opened in past 24 months
Name: Description, dtype: object
------
max_bal_bc 46.64778172771702
43    Maximum current balance owed on all revolving accounts
Name: Description, dtype: object
------
inq_fi 46.64778172771702
30    Number of personal finance inquiries
Name: Description, dtype: object
------
total_cu_tl 46.64778172771702
103    Number of finance trades
Name: Description, dtype: object
------
inq_last_12m 46.64778172771702
31    Number of credit inquiries in past 12 months
Name: Description, dtype: object
------
mths_since_last_delinq 44.76869065178529
50    The number of months since the borrower's last delinquency.
Name: Description, dtype: object
------
next_pymnt_d 41.98200096520504
58    Next scheduled payment date
Name: Description, dtype: object
------
mths_since_recent_inq 10.071042262839379
56    Months since most recent inquiry.
Name: Description, dtype: object
------
emp_length 5.943034776835986
19    Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
Name: Description, dtype: object
------
emp_title 5.704678978695251
20    The job title supplied by the Borrower when applying for the loan.*
Name: Description, dtype: object
------
num_tl_120dpd_2m 5.160051840120356
69    Number of accounts currently 120 days past due (updated in past 2 months)
Name: Description, dtype: object
------
mo_sin_old_il_acct 4.218806997509953
45    Months since oldest bank installment account opened
Name: Description, dtype: object
------
pct_tl_nvr_dlq 1.5800134584927847
82    Percent of trades never delinquent
Name: Description, dtype: object
------
avg_cur_bal 1.573046309450173
7    Average current balance of all accounts
Name: Description, dtype: object
------
mo_sin_old_rev_tl_op 1.5714036482937848
46    Months since oldest revolving account opened
Name: Description, dtype: object
------
mo_sin_rcnt_rev_tl_op 1.5714036482937848
47    Months since most recent revolving account opened
Name: Description, dtype: object
------
num_rev_accts 1.5714036482937848
66    Number of revolving accounts
Name: Description, dtype: object
------
tot_coll_amt 1.5713470048056335
96    Total collection amounts ever owed
Name: Description, dtype: object
------
tot_cur_bal 1.5713470048056335
97    Total current balance of all accounts
Name: Description, dtype: object
------
total_rev_hi_lim 1.5713470048056335
Series([], Name: Description, dtype: object)
------
mo_sin_rcnt_tl 1.5713470048056335
48    Months since most recent account opened
Name: Description, dtype: object
------
num_accts_ever_120_pd 1.5713470048056335
59    Number of accounts ever 120 or more days past due
Name: Description, dtype: object
------
num_actv_bc_tl 1.5713470048056335
60    Number of currently active bankcard accounts
Name: Description, dtype: object
------
num_actv_rev_tl 1.5713470048056335
61    Number of currently active revolving trades
Name: Description, dtype: object
------
num_bc_tl 1.5713470048056335
63    Number of bankcard accounts
Name: Description, dtype: object
------
num_il_tl 1.5713470048056335
64    Number of installment accounts
Name: Description, dtype: object
------
num_op_rev_tl 1.5713470048056335
65    Number of open revolving accounts
Name: Description, dtype: object
------
num_rev_tl_bal_gt_0 1.5713470048056335
67    Number of revolving trades with balance >0
Name: Description, dtype: object
------
num_tl_30dpd 1.5713470048056335
70    Number of accounts currently 30 days past due (updated in past 2 months)
Name: Description, dtype: object
------
num_tl_90g_dpd_24m 1.5713470048056335
71    Number of accounts 90 or more days past due in last 24 months
Name: Description, dtype: object
------
num_tl_op_past_12m 1.5713470048056335
72    Number of accounts opened in past 12 months
Name: Description, dtype: object
------
tot_hi_cred_lim 1.5713470048056335
98    Total high credit/credit limit
Name: Description, dtype: object
------
total_il_high_credit_limit 1.5713470048056335
104    Total installment high credit/credit limit
Name: Description, dtype: object
------
bc_util 1.4476942701713125
9    Ratio of total current balance to high credit/credit limit for all bankcard accounts.
Name: Description, dtype: object
------
percent_bc_gt_75 1.4228277788728851
83    Percentage of all bankcard accounts > 75% of limit.
Name: Description, dtype: object
------
bc_open_to_buy 1.3991508008256355
8    Total open to buy on revolving bankcards.
Name: Description, dtype: object
------
last_pymnt_d 1.357008045641057
40    Last month payment was received
Name: Description, dtype: object
------
mths_since_recent_bc 1.3387688424563335
54    Months since most recent bankcard account opened.
Name: Description, dtype: object
------
num_bc_sats 0.9094112022693647
62    Number of satisfactory bankcard accounts
Name: Description, dtype: object
------
num_sats 0.9094112022693647
68    Number of satisfactory accounts
Name: Description, dtype: object
------
title 0.7190324385927945
95    The loan title provided by the borrower
Name: Description, dtype: object
------
acc_open_past_24mths 0.42454294369410706
1    Number of trades opened in past 24 months.
Name: Description, dtype: object
------
mort_acc 0.42454294369410706
49    Number of mortgage accounts.
Name: Description, dtype: object
------
total_bal_ex_mort 0.42454294369410706
100    Total credit balance excluding mortgage
Name: Description, dtype: object
------
total_bc_limit 0.42454294369410706
102    Total bankcard high credit/credit limit
Name: Description, dtype: object
------
revol_util 0.05941901907072959
91    Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
Name: Description, dtype: object
------
dti 0.03183364034103911
16    A ratio calculated using the borrowers total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowers self-reported monthly income.
Name: Description, dtype: object
------
last_credit_pull_d 0.003908400682440746
36    The most recent month LC pulled credit for this loan
Name: Description, dtype: object
------
zip_code 5.6643488151315146e-05
114    The first 3 numbers of the zip code provided by the borrower in the loan application.
Name: Description, dtype: object
------

In [10]:
# It shows that for cases where the columns are more than 80% NaN, they fall in the following categories.
# 1. Related to settlement
# 2. Related to secondary applicant
# 3. ID
# 4. Description.
# All of them can be dropped.

for f, val in x_pct_list:
    if val > 80:
        print(f)
        loan_data = loan_data.drop(f, 1)

settlement_term
member_id
url
orig_projected_additional_accrued_interest
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
hardship_payoff_balance_amount
hardship_last_payment_amount
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
sec_app_mths_since_last_major_derog
sec_app_revol_util
revol_bal_joint
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
verification_status_joint
dti_joint
annual_inc_joint
desc
id

### Clean data
From this point onwards, read all the data in small chunks and clean it.
Cleaning involves the following steps:
1. Something

In [11]:
# Now analyze one column at a time
# loan_dict.loc[loan_dict['LoanStatNew'] == 'loan_amnt']
print(loan_data.iloc[:5,:6])
for y in loan_data.columns[:6]:
    print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[:6]))]

   loan_amnt  funded_amnt funded_amnt_inv        term int_rate  installment
0      10000        10000           10000   36 months    8.59%       316.10
1      15000        15000           15000   36 months   13.99%       512.60
2      17000        17000           17000   36 months   14.49%       585.08
3       9000         9000            9000   36 months   10.99%       294.61
4       3250         3250            3250   36 months   13.49%       110.28
loan_amnt int64
funded_amnt int64
funded_amnt_inv object
term object
int_rate object
installment float64

,LoanStatNew,Description
23,funded_amnt,The total amount committed to that loan at that point in time.
24,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
33,installment,The monthly payment owed by the borrower if the loan originates.
34,int_rate,Interest Rate on the loan
41,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
94,term,The number of payments on the loan. Values are in months and can be either 36 or 60.

In [12]:
# Analysis
# loan_amnt is int64 - Good
# funded_amnt is int64 - Good
# funded_amnt_inv is object - Bad
# term is object - Bad
# int_rate is object - Bad

# Let's start with funded_amnt_inv
# Find the non-int entry
df = loan_data['funded_amnt_inv'].to_frame().applymap(np.isreal) == False
df.loc[df['funded_amnt_inv'] == True]

       funded_amnt_inv
0                 True
1                 True
2                 True
3                 True
4                 True
5                 True
6                 True
7                 True
8                 True
9                 True
10                True
11                True
12                True
13                True
14                True
15                True
16                True
17                True
18                True
19                True
20                True
21                True
22                True
23                True
24                True
25                True
26                True
27                True
28                True
29                True
...                ...
97824             True
97825             True
97826             True
97827             True
97828             True
97829             True
97830             True
97831             True
97832             True
97833             True
97834             True
97835             True
97836             True
97837             True
97838             True
97839             True
97840             True
97841             True
97842             True
97843             True
97844             True
97845             True
97846             True
97847             True
97848             True
97849             True
97850             True
97851             True
97852             True
97853             True

[1765428 rows x 1 columns]

In [13]:
# Looks like all the entries are considered non-integral
# Let's examine
loan_data['funded_amnt_inv'][:1]
# Since each object seems to string, convert it to numeric.
loan_data['funded_amnt_inv'] = pd.to_numeric(loan_data['funded_amnt_inv'])
# Find the non-numeric entry
df = loan_data['funded_amnt_inv'].to_frame().applymap(np.isreal) == False
df.loc[df['funded_amnt_inv'] == True]
df = loan_data['funded_amnt_inv']
df.loc[df.isnull()]
# So now the data for funded_amnt_inv is all good.

Series([], Name: funded_amnt_inv, dtype: float64)

In [14]:
# Moving to "term"
# All terms are described in terms of months.
# So, a simple replacement should work.
loan_data['term'] = loan_data['term'].str.replace(" months","")
# Now convert all of them to numeric
loan_data['term'] = pd.to_numeric(loan_data['term'])
# Find the non-numeric entry
df = loan_data['term'].to_frame().applymap(np.isreal) == False
df.loc[df['term'] == True]
# The term data looks all good.

Empty DataFrame
Columns: [term]
Index: []

In [15]:
# Moving to "int_rate"
# All int_rate are described in terms of %.
# So, a simple replacement should work.
loan_data['int_rate'] = loan_data['int_rate'].str.replace("%","")
# Now convert all of them to numeric
loan_data['int_rate'] = pd.to_numeric(loan_data['int_rate'])
# Find the non-numeric entry
df = loan_data['int_rate'].to_frame().applymap(np.isreal) == False
df.loc[df['int_rate'] == True]
# The int_rate data looks all good.

Empty DataFrame
Columns: [int_rate]
Index: []

In [16]:
# Moving to "installment"
# Find the non-numeric entry
df = loan_data['installment'].to_frame().applymap(np.isreal) == False
df.loc[df['installment'] == True]
# The installment data looks all good.

Empty DataFrame
Columns: [installment]
Index: []

In [17]:
# Print thoese features again
print(loan_data.iloc[:5,:6])
for y in loan_data.columns[:6]:
  print(y, loan_data[y].dtype)

   loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  installment
0      10000        10000          10000.0    36      8.59       316.10
1      15000        15000          15000.0    36     13.99       512.60
2      17000        17000          17000.0    36     14.49       585.08
3       9000         9000           9000.0    36     10.99       294.61
4       3250         3250           3250.0    36     13.49       110.28
loan_amnt int64
funded_amnt int64
funded_amnt_inv float64
term int64
int_rate float64
installment float64

In [18]:
# Want to see if the loan_amnt and funded_amnt are ever different
df_ = loan_data['loan_amnt'] - loan_data['funded_amnt'] != 0
df = df_.to_frame()
print(len(df.loc[df[0] == True]))

2065

Since, there are 2065 cases where the loan_amnt and funded_amnt are different I am going to keep both the features.
2065 is really small compared to the 1.7 million data we have.
But, for now, I will keep it.

In [19]:
# Look for 0 loan_amnt
loan_data.drop(loan_data[loan_data.loan_amnt == 0].index, inplace=True)
loan_data.loc[loan_data['loan_amnt'] == 0]

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, ...]
Index: []

[0 rows x 107 columns]

In [20]:
# Now analyze the next 5 features
print(loan_data.iloc[:5,6:11])
for y in loan_data.columns[6:11]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[6:11]))]

  grade sub_grade              emp_title emp_length home_ownership
0     A        A5      Supervisory Agent  10+ years       MORTGAGE
1     C        C3        Fiscal Director    2 years           RENT
2     C        C4                   Lead    5 years           RENT
3     B        B4     maintenace manager    7 years       MORTGAGE
4     C        C2  Tobacco Sales Cashier    2 years           RENT
grade object
sub_grade object
emp_title object
emp_length object
home_ownership object

,LoanStatNew,Description
19,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20,emp_title,The job title supplied by the Borrower when applying for the loan.*
25,grade,LC assigned loan grade
26,home_ownership,"The home ownership status provided by the borrower during registrationor obtained from the credit report.Our values are: RENT, OWN, MORTGAGE, OTHER"
92,sub_grade,LC assigned loan subgrade

In [21]:
# Starting with grade
loan_data['grade'].unique()

array(['A', 'C', 'B', 'D', 'E', 'F', 'G'], dtype=object)

In [22]:
# 'grade' looks good for a categorical type.
# The 0 corresponds to no data.
# For now, it is ok in out case.

# Next try sub_grade
loan_data['sub_grade'].unique()

array(['A5', 'C3', 'C4', 'B4', 'C2', 'C5', 'A1', 'C1', 'B5', 'D4', 'B1',
       'E4', 'B3', 'B2', 'A2', 'A4', 'E1', 'D1', 'D3', 'D5', 'F2', 'A3',
       'D2', 'F4', 'G1', 'F1', 'G3', 'E2', 'E5', 'E3', 'F5', 'G4', 'F3',
       'G2', 'G5'], dtype=object)

In [23]:
# Again 'sub_grade' looks decent

# Moving to emp_title
print(len(loan_data['emp_title'].unique()))
loan_data['emp_title'].unique()

449772

array(['Supervisory Agent', 'Fiscal Director', 'Lead', ..., 'Mg',
       'CFO Treasurer', 'Service desk engineer'], dtype=object)

There 449772 employment title including '0', which means no data. Hence, I am removing it from the loan data table.

In [24]:
# Too many of them.
# Will drop 'emp_title' from the loan_data for now.
# Will later do some analysis if needed.
loan_data = loan_data.drop('emp_title', 1)

In [25]:
# Moving to emp_length
# First remove "year", "years" and blanks
loan_data['emp_length'] = loan_data['emp_length'].str.replace("years","")
loan_data['emp_length'] = loan_data['emp_length'].str.replace("year","")
loan_data['emp_length'] = loan_data['emp_length'].str.replace(" ","")
print(loan_data['emp_length'].unique())
# Replacing all NaN with 0.
# Not sure, if this is the right way.
loan_data.loc[(loan_data['emp_length'] != '<1') & \
              (loan_data['emp_length'] != '1') & \
              (loan_data['emp_length'] != '2') & \
              (loan_data['emp_length'] != '3') & \
              (loan_data['emp_length'] != '4') & \
              (loan_data['emp_length'] != '5') & \
              (loan_data['emp_length'] != '6') & \
              (loan_data['emp_length'] != '7') & \
              (loan_data['emp_length'] != '8') & \
              (loan_data['emp_length'] != '9') & \
              (loan_data['emp_length'] != '10+'), 'emp_length'] = 0
print(loan_data['emp_length'].unique())

['10+' '2' '5' '7' '9' '8' '3' '4' '6' nan '1' '<1']
['10+' '2' '5' '7' '9' '8' '3' '4' '6' 0 '1' '<1']

In [26]:
# Moving to home_ownership
loan_data['home_ownership'].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'ANY', 'NONE', 'OTHER'], dtype=object)

In [27]:
# Though OTHER, NONE and ANY are a little confusing, I will do that cleaning later.
# For now things look ok.

# Printing all the columngs together again.
print(loan_data.iloc[:5,6:10])

  grade sub_grade emp_length home_ownership
0     A        A5        10+       MORTGAGE
1     C        C3          2           RENT
2     C        C4          5           RENT
3     B        B4          7       MORTGAGE
4     C        C2          2           RENT

In [28]:
# Moving to next 6 columns
print(loan_data.iloc[:5,10:15])
for y in loan_data.columns[10:15]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[10:15]))]

  annual_inc verification_status   issue_d loan_status pymnt_plan
0     137500     Source Verified  Sep-2016     Current          n
1      55000        Not Verified  Sep-2016     Current          n
2      54000     Source Verified  Sep-2016     Current          n
3      65000     Source Verified  Sep-2016     Current          n
4      23000     Source Verified  Sep-2016     Current          n
annual_inc object
verification_status object
issue_d object
loan_status object
pymnt_plan object

,LoanStatNew,Description
4,annual_inc,The self-reported annual income provided by the borrower during registration.
35,issue_d,The month which the loan was funded
42,loan_status,Current status of the loan
88,pymnt_plan,Indicates if a payment plan has been put in place for the loan
112,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"

In [29]:
# Staring with annual_inc
# It should be numeric
# So, let'f find the non-numeric entry
df = loan_data['annual_inc'].to_frame().applymap(np.isreal) == False
len(df.loc[df['annual_inc'] == True])

1765404

In [30]:
# Looks like all the entries are considered non-integral
# Let's examine
loan_data['annual_inc'][:1]
# Since each object seems to string, convert it to numeric.
loan_data['annual_inc'] = pd.to_numeric(loan_data['annual_inc'])
# Find the non-numeric entry
df = loan_data['annual_inc'].to_frame().applymap(np.isreal) == False
df.loc[df['annual_inc'] == True]
df = loan_data['annual_inc']
df.loc[df.isnull()]
# So now the data for annual_inc is all good.

Series([], Name: annual_inc, dtype: float64)

In [31]:
# Now verification_status
loan_data['verification_status'].unique()

array(['Source Verified', 'Not Verified', 'Verified'], dtype=object)

In [32]:
# issue_d
loan_data['issue_d'].unique()

array(['Sep-2016', 'Aug-2016', 'Jul-2016', 'Jun-2017', 'May-2017',
       'Apr-2017', 'Dec-2013', 'Nov-2013', 'Oct-2013', 'Sep-2013',
       'Aug-2013', 'Jul-2013', 'Jun-2013', 'May-2013', 'Apr-2013',
       'Mar-2013', 'Feb-2013', 'Jan-2013', 'Dec-2012', 'Nov-2012',
       'Oct-2012', 'Sep-2012', 'Aug-2012', 'Jul-2012', 'Jun-2012',
       'May-2012', 'Apr-2012', 'Mar-2012', 'Feb-2012', 'Jan-2012',
       'Dec-2015', 'Nov-2015', 'Oct-2015', 'Sep-2015', 'Aug-2015',
       'Jul-2015', 'Jun-2015', 'May-2015', 'Apr-2015', 'Mar-2015',
       'Feb-2015', 'Jan-2015', 'Mar-2017', 'Feb-2017', 'Jan-2017',
       'Dec-2014', 'Nov-2014', 'Oct-2014', 'Sep-2014', 'Aug-2014',
       'Jul-2014', 'Jun-2014', 'May-2014', 'Apr-2014', 'Mar-2014',
       'Feb-2014', 'Jan-2014', 'Dec-2016', 'Nov-2016', 'Oct-2016',
       'Dec-2017', 'Nov-2017', 'Oct-2017', 'Sep-2017', 'Aug-2017',
       'Jul-2017', 'Mar-2016', 'Feb-2016', 'Jan-2016', 'Dec-11', 'Nov-11',
       'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11', 'Jun-11', 'May-11',
       'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11', 'Dec-10', 'Nov-10',
       'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10', 'Jun-10', 'May-10',
       'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10', 'Dec-09', 'Nov-09',
       'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09', 'Jun-09', 'May-09',
       'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09', 'Dec-08', 'Nov-08',
       'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08', 'Jun-08', 'May-08',
       'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08', 'Dec-07', 'Nov-07',
       'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07', 'Jun-07', 'Jun-2016',
       'May-2016', 'Apr-2016'], dtype=object)

Breakdown the date into two. One will have the year and the other will have the month.

In [33]:
def try_convert_date(value):
    try:
        new_val = pd.datetime.strptime(value, '%b-%y')
    except:
        new_val = pd.datetime.strptime(value, '%b-%Y')
    return new_val

# df[0] = pd.to_datetime(df[0], format='%b-%y')

loan_data['issue_d_month'] = pd.DatetimeIndex(loan_data['issue_d'].apply(try_convert_date)).month
loan_data['issue_d_year'] = pd.DatetimeIndex(loan_data['issue_d'].apply(try_convert_date)).year
print(loan_data['issue_d_month'].unique())
print(loan_data['issue_d_year'].unique())

[ 9  8  7  6  5  4 12 11 10  3  2  1]
[2016 2017 2013 2012 2015 2014 2011 2010 2009 2008 2007]

In [34]:
# Drop issue_d
loan_data = loan_data.drop('issue_d', 1)

In [35]:
# loan_status
loan_data['loan_status'].unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'Charged Off',
       'Late (16-30 days)', 'In Grace Period', 'Default', 'Issued',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [36]:
# pymnt_plan
loan_data['pymnt_plan'].unique()

array(['n', 'y'], dtype=object)

In [37]:
# Moving to next 6 columns
# Dropping description out of hte list as it is pure text.
# Will see later, if adding it adds any value.
# loan_data = loan_data.drop('desc', 1)
print(loan_data.iloc[:5,15:20])
for y in loan_data.columns[15:20]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[15:20]))]

                title zip_code addr_state    dti  delinq_2yrs
0  Debt consolidation    330xx         FL  13.42            0
1  Debt consolidation    372xx         TN  23.78            1
2  Debt consolidation    331xx         FL  14.80            4
3      Major purchase    075xx         NJ   3.71            0
4  Debt consolidation    334xx         FL   4.59            0
title object
zip_code object
addr_state object
dti float64
delinq_2yrs int64

,LoanStatNew,Description
2,addr_state,The state provided by the borrower in the loan application
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
16,dti,"A ratio calculated using the borrowers total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowers self-reported monthly income."
95,title,The loan title provided by the borrower
114,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.

In [38]:
# url is the URL for the LC page with listing data.
# This data is not needed for our purpose
# loan_data = loan_data.drop('url', 1)

In [39]:
# Let't check purpose
loan_data['purpose'].unique()

array(['debt_consolidation', 'major_purchase', 'house',
       'home_improvement', 'credit_card', 'other', 'medical', 'car',
       'moving', 'small_business', 'vacation', 'renewable_energy',
       'wedding', 'educational'], dtype=object)

In [40]:
# 'purpose' looks good.
# Let's try title
len(loan_data['title'].unique())

63150

In [41]:
# Again, 'title' is text entry which, for now, I am going to remove
loan_data = loan_data.drop('title', 1)

In [42]:
# zip_code
len(loan_data['zip_code'].unique())

954

In [43]:
# I am going to keep zip_code.
# The number of unique values are not too bad.
# Have to see how many zip_codes where missing and I replaced with 0.
len(loan_data.loc[loan_data['zip_code'] == 0])
# Since only one entry has the zip_code 0, I am going to randomly assign that item with one of the existing zip_codes.
# I hope, this won't affect things bad.
import random
loan_data.loc[(loan_data['zip_code'] == 0), 'zip_code'] =  random.choice(loan_data['zip_code'].unique())
len(loan_data.loc[loan_data['zip_code'] == 0])

0

In [44]:
# Moving to addr_state
loan_data['addr_state'].unique()

array(['FL', 'TN', 'NJ', 'IN', 'CT', 'CA', 'NY', 'RI', 'SC', 'VA', 'IL',
       'OK', 'TX', 'NC', 'OH', 'WA', 'MA', 'OR', 'AL', 'ME', 'MI', 'GA',
       'NH', 'LA', 'PA', 'CO', 'MN', 'DC', 'NV', 'AZ', 'WI', 'AR', 'MD',
       'MO', 'KS', 'ID', 'MT', 'NM', 'HI', 'NE', 'VT', 'UT', 'KY', 'SD',
       'MS', 'ND', 'WY', 'AK', 'DE', 'WV', 'IA'], dtype=object)

In [45]:
# Moving to next 6 columns
print(loan_data.iloc[:6,18:23])
for y in loan_data.columns[18:23]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[18:23]))]

   delinq_2yrs earliest_cr_line  inq_last_6mths  mths_since_last_delinq  \
0            0         May-2002               1                     NaN
1            1         Jan-1996               0                     7.0
2            4         Oct-2011               1                    17.0
3            0         Mar-2006               0                    31.0
4            0         Feb-2004               1                    79.0
5            2         Aug-1986               0                    16.0

   mths_since_last_record
0                   107.0
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
delinq_2yrs int64
earliest_cr_line object
inq_last_6mths int64
mths_since_last_delinq float64
mths_since_last_record float64

,LoanStatNew,Description
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
18,earliest_cr_line,The month the borrower's earliest reported credit line was opened
32,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
50,mths_since_last_delinq,The number of months since the borrower's last delinquency.
52,mths_since_last_record,The number of months since the last public record.

In [46]:
# dti is float, delinq_2yrs is int and inq_last_6mths is int.
# They look good.
# mts_since_last_delinq is float.
# Let's check it.
# Ideally, it should have been int
loan_data['mths_since_last_delinq'].unique()

array([ nan,   7.,  17.,  31.,  79.,  16.,  12.,  42.,  22.,  44.,  36.,
        77.,  13.,   3.,  27.,   5.,  48.,  28.,   9.,   4.,  61.,  11.,
        23.,  33.,  57.,  29.,  53.,  19.,  26.,  14.,  34.,  41.,   8.,
        56.,  52.,  67.,  24.,  32.,  10.,  72.,  49.,  38.,  30.,  40.,
        54.,  75.,  21.,  71.,  74.,  55.,  64.,  76.,  43.,  18.,  20.,
         2.,  58.,  50.,  59.,  60.,  37.,  35.,  63.,  39.,   1.,  15.,
        25.,  81.,  45.,   6.,  69.,  73.,  51.,  70.,  80.,  78.,  47.,
        66.,  46.,  65.,  82.,  83.,   0.,  68.,  62.,  93., 112.,  88.,
        84.,  90.,  95.,  94.,  85.,  99.,  92.,  87.,  96.,  86., 107.,
       109.,  98., 142., 104., 121., 131.,  89.,  91., 106., 116., 102.,
       118., 100., 134., 111., 123., 103., 101., 110., 124., 130.,  97.,
       114., 119., 105., 132., 146., 117., 115., 161., 129., 108., 126.,
       113., 136., 158., 135., 122., 127., 120., 139., 156., 143., 149.,
       148., 141., 152., 157., 154., 170., 171., 125., 133., 176., 137.,
       180., 188., 140., 151., 159., 168., 195., 150., 202., 145., 153.,
       138., 162., 128., 178., 160., 192.])

In [47]:
# The data looks clean.
# I can safely convert it to int.

# Convert all 0s and nan to 0.
# loan_data.loc[loan_data['mths_since_last_delinq'].isnull()]['mths_since_last_delinq'] = 0
loan_data[['mths_since_last_delinq']] = loan_data[['mths_since_last_delinq']].applymap(lambda x: 0 if pd.isnull(x) else x)
print(loan_data['mths_since_last_delinq'].unique())

loan_data[['mths_since_last_delinq']] = loan_data[['mths_since_last_delinq']].astype(int)
loan_data['mths_since_last_delinq'].unique()

[  0.   7.  17.  31.  79.  16.  12.  42.  22.  44.  36.  77.  13.   3.
  27.   5.  48.  28.   9.   4.  61.  11.  23.  33.  57.  29.  53.  19.
  26.  14.  34.  41.   8.  56.  52.  67.  24.  32.  10.  72.  49.  38.
  30.  40.  54.  75.  21.  71.  74.  55.  64.  76.  43.  18.  20.   2.
  58.  50.  59.  60.  37.  35.  63.  39.   1.  15.  25.  81.  45.   6.
  69.  73.  51.  70.  80.  78.  47.  66.  46.  65.  82.  83.  68.  62.
  93. 112.  88.  84.  90.  95.  94.  85.  99.  92.  87.  96.  86. 107.
 109.  98. 142. 104. 121. 131.  89.  91. 106. 116. 102. 118. 100. 134.
 111. 123. 103. 101. 110. 124. 130.  97. 114. 119. 105. 132. 146. 117.
 115. 161. 129. 108. 126. 113. 136. 158. 135. 122. 127. 120. 139. 156.
 143. 149. 148. 141. 152. 157. 154. 170. 171. 125. 133. 176. 137. 180.
 188. 140. 151. 159. 168. 195. 150. 202. 145. 153. 138. 162. 128. 178.
 160. 192.]

array([  0,   7,  17,  31,  79,  16,  12,  42,  22,  44,  36,  77,  13,
         3,  27,   5,  48,  28,   9,   4,  61,  11,  23,  33,  57,  29,
        53,  19,  26,  14,  34,  41,   8,  56,  52,  67,  24,  32,  10,
        72,  49,  38,  30,  40,  54,  75,  21,  71,  74,  55,  64,  76,
        43,  18,  20,   2,  58,  50,  59,  60,  37,  35,  63,  39,   1,
        15,  25,  81,  45,   6,  69,  73,  51,  70,  80,  78,  47,  66,
        46,  65,  82,  83,  68,  62,  93, 112,  88,  84,  90,  95,  94,
        85,  99,  92,  87,  96,  86, 107, 109,  98, 142, 104, 121, 131,
        89,  91, 106, 116, 102, 118, 100, 134, 111, 123, 103, 101, 110,
       124, 130,  97, 114, 119, 105, 132, 146, 117, 115, 161, 129, 108,
       126, 113, 136, 158, 135, 122, 127, 120, 139, 156, 143, 149, 148,
       141, 152, 157, 154, 170, 171, 125, 133, 176, 137, 180, 188, 140,
       151, 159, 168, 195, 150, 202, 145, 153, 138, 162, 128, 178, 160,
       192])

In [48]:
print(loan_data['earliest_cr_line'].unique())

['May-2002' 'Jan-1996' 'Oct-2011' ... '0' 'Mar-1933' 'Mar-1954']

In [49]:
# earliest_cr_line is date (like issue_d).
# Change it to month and year
print(loan_data['earliest_cr_line'].unique())
print(len(loan_data.loc[(loan_data['earliest_cr_line'] == '0')]))
# Since, the number of entries with earliest_cr_line is not very high, I am removing it.
loan_data.drop(loan_data[loan_data.earliest_cr_line == '0'].index, inplace=True)
print(len(loan_data.loc[(loan_data['earliest_cr_line'] == '0')]))

['May-2002' 'Jan-1996' 'Oct-2011' ... '0' 'Mar-1933' 'Mar-1954']
29
0

In [50]:
# All looks good


loan_data['earliest_cr_line_month'] = pd.DatetimeIndex(loan_data['earliest_cr_line'].apply(try_convert_date)).month
loan_data['earliest_cr_line_year'] = pd.DatetimeIndex(loan_data['earliest_cr_line'].apply(try_convert_date)).year
print(loan_data['earliest_cr_line_month'].unique())
print(loan_data['earliest_cr_line_year'].unique())

[ 5  1 10  3  2  8 11  6  9  4  7 12]
[2002 1996 2011 2006 2004 1986 2000 1994 1993 1998 1999 2008 2005 1997
 1989 2001 1987 2007 2003 2009 1992 1977 2012 1995 1981 1990 1991 2010
 2013 1980 1988 1985 1978 1969 1984 1964 1979 1983 1972 1982 1973 1976
 1974 1967 1970 1971 1958 1968 1975 1963 1965 1966 1941 1961 1960 1956
 1962 1959 1946 2014 1951 1950 1934 1957 1953 1955 1952 1954 1944 1949
 1948 1945 2062 2068 2064 2067 2065 2063 2054 2066 2059 2056 2046 2050
 2061 1933]

In [51]:
# Drop earliest_cr_line
loan_data = loan_data.drop('earliest_cr_line', 1)

In [52]:
# Moving to next 6 columns
print(loan_data.iloc[:6,23:29])
for y in loan_data.columns[23:29]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[23:28]))]

   pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp
0        1       9031       8.8%         37                   w    3365.02
1        0      21345      57.8%         43                   f    1068.61
2        0       7513      53.3%         18                   w   10795.25
3        0       3140      44.9%         15                   w    5604.86
4        0       2574      54.8%         10                   w    2308.23
5        0       6447      55.1%         19                   w       0.00
pub_rec int64
revol_bal int64
revol_util object
total_acc int64
initial_list_status object
out_prncp float64

,LoanStatNew,Description
29,initial_list_status,"The initial listing status of the loan. Possible values are W, F"
85,pub_rec,Number of derogatory public records
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
99,total_acc,The total number of credit lines currently in the borrower's credit file

In [53]:
# Start analyzing mths_since_last_record
loan_data['mths_since_last_record'].unique()

array([107.,  nan,  79.,  96.,  97.,  66., 109.,  93.,  87.,  95.,  75.,
       117., 111.,  85., 105.,  92.,  86.,  67.,  39.,  70.,  64.,  73.,
        18., 101.,  88.,  58., 100.,  21.,  89.,  59.,  99.,  23.,  72.,
        91.,  47.,  40.,  35.,  71.,  69.,  44.,  74.,  77.,  65., 104.,
        61.,   6.,  42.,  19., 103.,  15.,  83.,  81.,  51.,  94.,  57.,
        53.,  27.,  46.,  76.,  30.,  78.,  12.,  98.,  50.,  90.,  24.,
        54.,   7.,  20., 113.,  80.,  55.,  52.,  37.,  28.,  43.,  41.,
        17., 115., 114.,  63.,  60.,  45., 102.,  48.,  38.,  68.,  33.,
       116.,  36.,  49.,  25.,  56.,  62.,  82.,  32.,  84.,  34.,  22.,
        10.,  26.,  14.,   8.,  29., 112.,  31.,  13.,  11., 110., 118.,
       106.,   9., 108.,   3.,   5.,  16.,   2.,   1.,   4.,   0., 119.,
       121., 120., 129.])

In [54]:
# Converting the nan to 0

# Looks good and all of them are integers (as there are no partial months).
# Hence, converting all of them to int

loan_data[['mths_since_last_record']] = loan_data[['mths_since_last_record']].applymap(lambda x: 0 if pd.isnull(x) else x)
print(loan_data['mths_since_last_record'].unique())

loan_data[['mths_since_last_record']] = loan_data[['mths_since_last_record']].astype(int)
loan_data['mths_since_last_record'].unique()

[107.   0.  79.  96.  97.  66. 109.  93.  87.  95.  75. 117. 111.  85.
 105.  92.  86.  67.  39.  70.  64.  73.  18. 101.  88.  58. 100.  21.
  89.  59.  99.  23.  72.  91.  47.  40.  35.  71.  69.  44.  74.  77.
  65. 104.  61.   6.  42.  19. 103.  15.  83.  81.  51.  94.  57.  53.
  27.  46.  76.  30.  78.  12.  98.  50.  90.  24.  54.   7.  20. 113.
  80.  55.  52.  37.  28.  43.  41.  17. 115. 114.  63.  60.  45. 102.
  48.  38.  68.  33. 116.  36.  49.  25.  56.  62.  82.  32.  84.  34.
  22.  10.  26.  14.   8.  29. 112.  31.  13.  11. 110. 118. 106.   9.
 108.   3.   5.  16.   2.   1.   4. 119. 121. 120. 129.]

array([107,   0,  79,  96,  97,  66, 109,  93,  87,  95,  75, 117, 111,
        85, 105,  92,  86,  67,  39,  70,  64,  73,  18, 101,  88,  58,
       100,  21,  89,  59,  99,  23,  72,  91,  47,  40,  35,  71,  69,
        44,  74,  77,  65, 104,  61,   6,  42,  19, 103,  15,  83,  81,
        51,  94,  57,  53,  27,  46,  76,  30,  78,  12,  98,  50,  90,
        24,  54,   7,  20, 113,  80,  55,  52,  37,  28,  43,  41,  17,
       115, 114,  63,  60,  45, 102,  48,  38,  68,  33, 116,  36,  49,
        25,  56,  62,  82,  32,  84,  34,  22,  10,  26,  14,   8,  29,
       112,  31,  13,  11, 110, 118, 106,   9, 108,   3,   5,  16,   2,
         1,   4, 119, 121, 120, 129])

In [55]:
# Start analyzing open_acc
loan_data['open_acc'].unique()

array([18, 22, 10,  6,  4,  9, 12, 19, 11, 16,  7, 17,  5, 35, 13, 15, 14,
        3, 20,  8, 21, 34, 24, 23, 29, 26, 25, 40, 28,  2, 27,  1, 38, 36,
       30, 31, 42, 37, 53, 33, 41, 39, 44, 32, 49, 60, 46, 43, 47, 51, 80,
       50, 57, 52, 45, 48, 54, 62, 86, 56, 59,  0, 68, 88, 64, 65, 58, 55,
       67, 66, 61, 70, 82, 63, 79, 74, 90, 72, 71, 76, 84, 75, 97, 93, 91,
       81, 77, 69])

In [56]:
# Start analyzing pub_rec
loan_data['pub_rec'].unique()

array([ 1,  0,  2,  5,  8, 11,  4,  3,  6, 12,  7,  9, 15, 10, 21, 13, 24,
       14, 45, 25, 28, 19, 61, 22, 49, 54, 23, 17, 26, 20, 86, 18, 16, 40,
       63, 34, 32, 44, 46, 37, 31, 47])

In [57]:
# Start analyzing revol_bal
loan_data['revol_bal'].unique()

array([  9031,  21345,   7513, ..., 108017, 132246, 102453])

In [58]:
# Start analyzing revol_util
# All revol_util are described in terms of %.
# So, a simple replacement should work.
loan_data['revol_util'] = loan_data['revol_util'].str.replace("%","")
# Now convert all of them to numeric
loan_data['revol_util'] = pd.to_numeric(loan_data['revol_util'])
# Find the non-numeric entry
df = loan_data['revol_util'].to_frame().applymap(np.isreal) == False
df.loc[df['revol_util'] == True]
print(loan_data['revol_util'].unique())
# The revol_util data looks all good.

[  8.8  57.8  53.3 ... 154.3 156.3 118.3]

In [59]:
print(loan_data.iloc[:6,28:33])
for y in loan_data.columns[28:33]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[28:33]))]

   out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp
0    3365.02        3365.02   7449.710000          7449.71          6634.98
1    1068.61        1068.61  15865.680000         15865.68         13931.39
2   10795.25       10795.25   8748.830000          8748.83          6204.75
3    5604.86        5604.86   4408.160000          4408.16          3395.14
4    2308.23        2308.23   1399.160000          1399.16           941.77
5       0.00           0.00  22100.263412         22100.26         20000.00
out_prncp float64
out_prncp_inv float64
total_pymnt float64
total_pymnt_inv float64
total_rec_prncp float64

,LoanStatNew,Description
80,out_prncp,Remaining outstanding principal for total amount funded
81,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
109,total_rec_prncp,Principal received to date

In [60]:
# Start analyzing total_acc
loan_data['total_acc'].unique()

array([ 37,  43,  18,  15,  10,  19,  25,  26,  29,  17,   7,  11,  39,
        30,  27,  32,  23,  21,  62,  35,  33,  16,  13,  34,  24,  31,
        48,  40,  14,  47,  66,   8,  28,   9,  12,  22,  20,  41,  94,
        78,  46,  69,  38,   4,  42,   6,  44,  36,  68,  45,  88,  74,
         3,  51,   5,  87,   2,  97,  60,  50,  53,  59,  54,  55,  49,
        57,  52,  61,  56,  67,  58,  64,  73,  85,  72,  82,  75,  63,
        71, 115,  77,  80,  70,  76,  65,  83,  81,  86,  95,  90,  79,
       108,  89, 107, 101, 111,  92,  96,  84,  98, 102, 116, 119,  93,
        99, 109,  91, 122, 121, 112, 100, 146, 105, 103, 127, 125, 110,
       135, 106, 104, 151, 130, 113, 169, 140, 129, 126, 137, 124, 138,
       162, 114, 118, 144, 150, 156, 117, 123, 165, 120, 136, 141, 176,
         1, 173, 133, 160, 157])

In [61]:
# Start analyzing initial_list_status
loan_data['initial_list_status'].unique()

array(['w', 'f'], dtype=object)

In [62]:
# Start analyzing out_prncp
loan_data['out_prncp'].unique()

array([ 3365.02,  1068.61, 10795.25, ..., 14263.19, 18040.87, 22929.11])

In [63]:
# Start analyzing out_prncp_inv
loan_data['out_prncp_inv'].unique()

array([ 3365.02,  1068.61, 10795.25, ..., 14263.19, 18040.87, 22929.11])

In [64]:
# Want to see if the out_prncp and out_prncp_inv are ever different
df_ = loan_data['out_prncp'] - loan_data['out_prncp_inv'] != 0
df = df_.to_frame()
print(len(df.loc[df[0] == True]))

45207

In [65]:
# Since, there is a non-zero number of cases where the the out_prncp and out_prncp_inv are different, I am keeping it.
# Though, 45K entries out of 1.7million seems small.o

# Start analyzing total_pymnt
loan_data['total_pymnt'].unique()

array([ 7449.71      , 15865.68      ,  8748.83      , ...,
        8347.18      ,  8548.23      ,  7646.64182749])

In [66]:
# Moving to next 4 columns
print(loan_data.iloc[:6,33:37])
for y in loan_data.columns[33:37]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[33:37]))]

   total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee
0         814.73                 0.0         0.0                      0.0
1        1934.29                 0.0         0.0                      0.0
2        2544.08                 0.0         0.0                      0.0
3        1013.02                 0.0         0.0                      0.0
4         457.39                 0.0         0.0                      0.0
5        2100.26                 0.0         0.0                      0.0
total_rec_int float64
total_rec_late_fee float64
recoveries float64
collection_recovery_fee float64

                 LoanStatNew                     Description
11   collection_recovery_fee  post charge off collection fee
89                recoveries  post charge off gross recovery
107            total_rec_int       Interest received to date
108       total_rec_late_fee      Late fees received to date

In [67]:
# Moving to next 4 columns
print(loan_data.iloc[:6,37:41])
for y in loan_data.columns[37:41]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[37:41]))]

  last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d
0     Dec-2017           316.10     Feb-2018           Jan-2018
1     Jan-2018           512.60     Jan-2018           Jan-2018
2     Jan-2018           585.08     Jan-2018           Jan-2018
3     Jan-2018           294.61     Jan-2018           Jan-2018
4     Jan-2018           110.28     Jan-2018           Jan-2018
5     Jul-2017         16625.82          NaN           Jul-2017
last_pymnt_d object
last_pymnt_amnt float64
next_pymnt_d object
last_credit_pull_d object

           LoanStatNew                                           Description
36  last_credit_pull_d  The most recent month LC pulled credit for this loan
39     last_pymnt_amnt                    Last total payment amount received
40        last_pymnt_d                       Last month payment was received
58        next_pymnt_d                           Next scheduled payment date

In [68]:
# All except look good in terms of the data type
# Cheching last_pymnt_d
loan_data['last_pymnt_d'].unique()

array(['Dec-2017', 'Jan-2018', 'Jul-2017', 'Aug-2017', 'Nov-2017',
       'Jan-2017', 'Jun-2017', 'Nov-2016', 'Apr-2017', 'Mar-2017',
       'May-2017', 'Oct-2017', 'Feb-2017', 'Oct-2016', 'Sep-2017',
       'Dec-2016', nan, 'Sep-2016', 'Aug-2016', 'Jul-2016', 'Sep-2014',
       'Oct-2015', 'May-2014', 'Jun-2016', 'Dec-2015', 'Sep-2015',
       'Apr-2016', 'May-2015', 'Jul-2014', 'Aug-2014', 'Feb-2016',
       'Aug-2015', 'Jan-2014', 'Feb-2014', 'Jan-2016', 'Feb-2015',
       'Jan-2015', 'Jun-2014', 'Nov-2014', 'Nov-2015', 'Mar-2015',
       'Jun-2015', 'Mar-2014', 'May-2016', 'Dec-2014', 'Mar-2016',
       'Oct-2014', 'Jul-2015', 'Apr-2014', 'Apr-2015', 'Dec-2013',
       'Nov-2013', 'Oct-2013', 'Sep-2013', 'Aug-2013', 'Jul-2013',
       'Jun-2013', 'May-2013', 'Apr-2013', 'Mar-2013', 'Feb-2013',
       'Jan-2013', 'Dec-2012', 'Nov-2012', 'Oct-2012', 'Sep-2012',
       'Aug-2012', 'Jul-2012', 'Jun-2012', 'May-2012', 'Apr-2012',
       'Mar-2012', 'Feb-2012', '0', 'Jan-15', 'Apr-13', 'Jun-14',
       'Jan-17', 'May-16', 'Apr-12', 'Nov-12', 'Jun-13', 'Sep-13',
       'Jul-12', 'Oct-13', 'May-13', 'Feb-15', 'Aug-15', 'Oct-12',
       'Sep-12', 'Dec-12', 'Dec-14', 'Aug-13', 'Nov-13', 'Jan-14',
       'Apr-14', 'Aug-14', 'Oct-14', 'Aug-12', 'Jul-14', 'Jul-13',
       'Jan-16', 'Feb-16', 'Apr-15', 'Feb-14', 'Sep-14', 'Jun-12',
       'Feb-13', 'Jun-16', 'Mar-13', 'May-14', 'Mar-15', 'Jan-13',
       'Dec-13', 'Feb-12', 'Mar-14', 'Sep-15', 'Nov-15', 'Mar-16',
       'Jan-12', 'Oct-15', 'Dec-16', 'Nov-14', 'Mar-12', 'May-12',
       'Aug-16', 'Jul-16', 'Oct-16', 'Dec-15', 'Jun-15', 'Feb-17',
       'Sep-16', 'Nov-16', 'May-15', 'Jul-15', 'Apr-16', 'Apr-17',
       'Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Oct-08', 'Aug-08', 'Jul-08', 'Sep-08', 'Jun-08',
       'May-08', 'Nov-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07'], dtype=object)

In [69]:
# last_pymnt_d is date (like issue_d).
# Change it to month and year
print(loan_data['last_pymnt_d'].unique())
print(len(loan_data.loc[(loan_data['last_pymnt_d'] == '0')]))
# Since, the number of entries with last_pymnt_d is not very high, I am removing it.
loan_data.drop(loan_data[loan_data.last_pymnt_d == '0'].index, inplace=True)
print(len(loan_data.loc[(loan_data['last_pymnt_d'] == '0')]))
print(loan_data['last_pymnt_d'].unique())

['Dec-2017' 'Jan-2018' 'Jul-2017' 'Aug-2017' 'Nov-2017' 'Jan-2017'
 'Jun-2017' 'Nov-2016' 'Apr-2017' 'Mar-2017' 'May-2017' 'Oct-2017'
 'Feb-2017' 'Oct-2016' 'Sep-2017' 'Dec-2016' nan 'Sep-2016' 'Aug-2016'
 'Jul-2016' 'Sep-2014' 'Oct-2015' 'May-2014' 'Jun-2016' 'Dec-2015'
 'Sep-2015' 'Apr-2016' 'May-2015' 'Jul-2014' 'Aug-2014' 'Feb-2016'
 'Aug-2015' 'Jan-2014' 'Feb-2014' 'Jan-2016' 'Feb-2015' 'Jan-2015'
 'Jun-2014' 'Nov-2014' 'Nov-2015' 'Mar-2015' 'Jun-2015' 'Mar-2014'
 'May-2016' 'Dec-2014' 'Mar-2016' 'Oct-2014' 'Jul-2015' 'Apr-2014'
 'Apr-2015' 'Dec-2013' 'Nov-2013' 'Oct-2013' 'Sep-2013' 'Aug-2013'
 'Jul-2013' 'Jun-2013' 'May-2013' 'Apr-2013' 'Mar-2013' 'Feb-2013'
 'Jan-2013' 'Dec-2012' 'Nov-2012' 'Oct-2012' 'Sep-2012' 'Aug-2012'
 'Jul-2012' 'Jun-2012' 'May-2012' 'Apr-2012' 'Mar-2012' 'Feb-2012' '0'
 'Jan-15' 'Apr-13' 'Jun-14' 'Jan-17' 'May-16' 'Apr-12' 'Nov-12' 'Jun-13'
 'Sep-13' 'Jul-12' 'Oct-13' 'May-13' 'Feb-15' 'Aug-15' 'Oct-12' 'Sep-12'
 'Dec-12' 'Dec-14' 'Aug-13' 'Nov-13' 'Jan-14' 'Apr-14' 'Aug-14' 'Oct-14'
 'Aug-12' 'Jul-14' 'Jul-13' 'Jan-16' 'Feb-16' 'Apr-15' 'Feb-14' 'Sep-14'
 'Jun-12' 'Feb-13' 'Jun-16' 'Mar-13' 'May-14' 'Mar-15' 'Jan-13' 'Dec-13'
 'Feb-12' 'Mar-14' 'Sep-15' 'Nov-15' 'Mar-16' 'Jan-12' 'Oct-15' 'Dec-16'
 'Nov-14' 'Mar-12' 'May-12' 'Aug-16' 'Jul-16' 'Oct-16' 'Dec-15' 'Jun-15'
 'Feb-17' 'Sep-16' 'Nov-16' 'May-15' 'Jul-15' 'Apr-16' 'Apr-17' 'Dec-11'
 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11' 'Apr-11'
 'Mar-11' 'Feb-11' 'Jan-11' 'Dec-10' 'Nov-10' 'Oct-10' 'Sep-10' 'Aug-10'
 'Jul-10' 'Jun-10' 'May-10' 'Apr-10' 'Mar-10' 'Feb-10' 'Jan-10' 'Dec-09'
 'Nov-09' 'Oct-09' 'Sep-09' 'Aug-09' 'Jul-09' 'Jun-09' 'May-09' 'Apr-09'
 'Mar-09' 'Feb-09' 'Jan-09' 'Dec-08' 'Oct-08' 'Aug-08' 'Jul-08' 'Sep-08'
 'Jun-08' 'May-08' 'Nov-08' 'Apr-08' 'Mar-08' 'Feb-08' 'Jan-08' 'Dec-07']
231
0
['Dec-2017' 'Jan-2018' 'Jul-2017' 'Aug-2017' 'Nov-2017' 'Jan-2017'
 'Jun-2017' 'Nov-2016' 'Apr-2017' 'Mar-2017' 'May-2017' 'Oct-2017'
 'Feb-2017' 'Oct-2016' 'Sep-2017' 'Dec-2016' nan 'Sep-2016' 'Aug-2016'
 'Jul-2016' 'Sep-2014' 'Oct-2015' 'May-2014' 'Jun-2016' 'Dec-2015'
 'Sep-2015' 'Apr-2016' 'May-2015' 'Jul-2014' 'Aug-2014' 'Feb-2016'
 'Aug-2015' 'Feb-2014' 'Jan-2016' 'Feb-2015' 'Jan-2015' 'Jun-2014'
 'Nov-2014' 'Nov-2015' 'Mar-2015' 'Jun-2015' 'Mar-2014' 'May-2016'
 'Dec-2014' 'Mar-2016' 'Oct-2014' 'Jul-2015' 'Apr-2014' 'Apr-2015'
 'Jan-2014' 'Dec-2013' 'Nov-2013' 'Oct-2013' 'Sep-2013' 'Aug-2013'
 'Jul-2013' 'Jun-2013' 'May-2013' 'Apr-2013' 'Mar-2013' 'Feb-2013'
 'Jan-2013' 'Dec-2012' 'Nov-2012' 'Oct-2012' 'Sep-2012' 'Aug-2012'
 'Jul-2012' 'Jun-2012' 'May-2012' 'Apr-2012' 'Mar-2012' 'Feb-2012'
 'Jan-15' 'Apr-13' 'Jun-14' 'Jan-17' 'May-16' 'Apr-12' 'Nov-12' 'Jun-13'
 'Sep-13' 'Jul-12' 'Oct-13' 'May-13' 'Feb-15' 'Aug-15' 'Oct-12' 'Sep-12'
 'Dec-12' 'Dec-14' 'Aug-13' 'Nov-13' 'Jan-14' 'Apr-14' 'Aug-14' 'Oct-14'
 'Aug-12' 'Jul-14' 'Jul-13' 'Jan-16' 'Feb-16' 'Apr-15' 'Feb-14' 'Sep-14'
 'Jun-12' 'Feb-13' 'Jun-16' 'Mar-13' 'May-14' 'Mar-15' 'Jan-13' 'Dec-13'
 'Feb-12' 'Mar-14' 'Sep-15' 'Nov-15' 'Mar-16' 'Jan-12' 'Oct-15' 'Dec-16'
 'Nov-14' 'Mar-12' 'May-12' 'Aug-16' 'Jul-16' 'Oct-16' 'Dec-15' 'Jun-15'
 'Feb-17' 'Sep-16' 'Nov-16' 'May-15' 'Jul-15' 'Apr-16' 'Apr-17' 'Dec-11'
 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11' 'Apr-11'
 'Mar-11' 'Feb-11' 'Jan-11' 'Dec-10' 'Nov-10' 'Oct-10' 'Sep-10' 'Aug-10'
 'Jul-10' 'Jun-10' 'May-10' 'Apr-10' 'Mar-10' 'Feb-10' 'Jan-10' 'Dec-09'
 'Nov-09' 'Oct-09' 'Sep-09' 'Aug-09' 'Jul-09' 'Jun-09' 'May-09' 'Apr-09'
 'Mar-09' 'Feb-09' 'Jan-09' 'Dec-08' 'Oct-08' 'Aug-08' 'Jul-08' 'Sep-08'
 'Jun-08' 'May-08' 'Nov-08' 'Apr-08' 'Mar-08' 'Feb-08' 'Jan-08' 'Dec-07']

In [70]:
import re
# There are inconsistencies.
# Some places the year is called 16 and other places it is 2016
def try_convert_date(value):
    try:
        new_val = pd.datetime.strptime(value, '%b-%y')
    except:
        new_val = pd.datetime.strptime(value, '%b-%Y')
    return new_val

# Drop lines where last_pymnt_d is null
print(loan_data.shape)
loan_data.dropna(subset=['last_pymnt_d'], inplace=True)
print(loan_data.shape)

loan_data['last_pymnt_d_month'] = pd.DatetimeIndex(loan_data['last_pymnt_d'].apply(try_convert_date)).month
loan_data['last_pymnt_d_year'] = pd.DatetimeIndex(loan_data['last_pymnt_d'].apply(try_convert_date)).year
print(loan_data['last_pymnt_d_month'].unique())
print(loan_data['last_pymnt_d_year'].unique())

loan_data = loan_data.drop('last_pymnt_d', 1)

# loan_data['last_pymnt_d'] = loan_data['last_pymnt_d'].str.replace("-20","")
# loan_data['last_pymnt_d'].replace(to_replace="([a-zA-Z])(\d+)", value=r"\1-\2", regex=True, inplace=True)
# loan_data['last_pymnt_d'].unique()

(1762572, 107)
(1738680, 107)
[12  1  7  8 11  6  4  3  5 10  2  9]
[2017 2018 2016 2014 2015 2013 2012 2011 2010 2009 2008 2007]

In [71]:
# Moving to next 4 columns
print(loan_data.iloc[:6,41:44])
for y in loan_data.columns[41:44]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[41:44]))]

   mths_since_last_major_derog  policy_code application_type
0                          NaN            1       Individual
1                          NaN            1       Individual
2                         17.0            1       Individual
3                         47.0            1       Individual
4                          NaN            1       Individual
5                          NaN            1       Individual
mths_since_last_major_derog float64
policy_code int64
application_type object

,LoanStatNew,Description
6,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
84,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2

In [72]:
# next_pymnt_d looks wrong
len(loan_data.loc[loan_data['next_pymnt_d'] == '0'])
# It has 92648 entries.
# For now, I am dropping this. 
# Next payment is future payment is not completely relevant.
# This information should already by hidden in all the other data.
loan_data = loan_data.drop('next_pymnt_d', 1)

In [73]:
# Analyze last_credit_pull_d
loan_data['last_credit_pull_d'].unique()

array(['Jan-2018', 'Jul-2017', 'Aug-2017', 'Nov-2017', 'Apr-2017',
       'Dec-2017', 'Oct-2017', 'Jun-2017', 'Sep-2017', 'Oct-2016',
       'May-2017', 'Mar-2017', 'Feb-2017', 'Sep-2016', 'Jan-2017', nan,
       'Nov-2016', 'Dec-2016', 'Aug-2016', 'Jul-2016', 'Jun-2016',
       'Aug-2014', 'Aug-2015', 'May-2015', 'Mar-2016', 'Mar-2014',
       'May-2016', 'Oct-2015', 'Dec-2015', 'Feb-2016', 'Mar-2015',
       'Apr-2015', 'Sep-2014', 'May-2014', 'Dec-2014', 'Jan-2014',
       'Jan-2015', 'Feb-2014', 'Sep-2015', 'Jul-2014', 'Jun-2015',
       'Apr-2016', 'Nov-2015', 'Nov-2014', 'Jan-2016', 'Oct-2014',
       'Jun-2014', 'Feb-2015', 'Jul-2015', 'Apr-2014', 'Nov-2013',
       'Dec-2013', 'Oct-2013', 'Sep-2013', 'Aug-2013', 'Jun-2013',
       'Jul-2013', 'May-2013', 'Apr-2013', 'Mar-2013', 'Feb-2013',
       'Jan-2013', 'Dec-2012', 'Nov-2012', 'Oct-2012', 'Sep-2012',
       'Aug-2012', 'Jun-2012', 'Jul-2012', 'May-2012', 'Apr-2012',
       'Feb-2012', 'Mar-2012', 'Jan-2012', '0', 'Jan-18', 'Oct-16',
       'Jun-17', 'Apr-16', 'Jan-17', 'Feb-17', 'Sep-16', 'Dec-14',
       'Dec-16', 'Aug-17', 'Aug-13', 'Apr-17', 'Sep-17', 'May-14',
       'Jul-15', 'Feb-16', 'Jun-16', 'Mar-14', 'Sep-12', 'Jan-15',
       'Jul-17', 'Jan-16', 'Dec-15', 'Jun-12', 'Nov-17', 'Dec-17',
       'Mar-15', 'Sep-14', 'Mar-17', 'Apr-14', 'Oct-17', 'Oct-14',
       'Feb-14', 'Feb-13', 'Nov-15', 'Jul-14', 'Dec-12', 'Jul-16',
       'Jun-15', 'Mar-13', 'Feb-12', 'Nov-13', 'Nov-16', 'Oct-15',
       'May-16', 'Apr-12', 'Sep-15', 'Mar-16', 'May-13', 'Aug-15',
       'Jun-14', 'Aug-12', 'Sep-13', 'Jan-12', 'Aug-14', 'Oct-13',
       'May-17', 'Aug-16', 'May-12', 'Jul-12', 'Jan-14', 'Oct-12',
       'Jun-13', 'Dec-13', 'Nov-14', 'Apr-15', 'Apr-13', 'Nov-12',
       'May-15', 'Jul-13', 'Feb-15', 'Mar-12', 'Nov-11', 'Dec-11',
       'Jan-13', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11', 'Jun-11',
       'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11', 'Dec-10',
       'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10', 'Jun-10',
       'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Aug-07', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Jul-09', 'Aug-09',
       'May-09', 'Jun-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Jun-08', 'Sep-08', 'May-08', 'Aug-08', 'Mar-08',
       'Oct-08', 'Feb-08', 'Jan-08', 'Dec-07', 'Jul-08', 'Oct-07',
       'Sep-07', 'Jun-07', 'May-07', 'Jul-07', 'Nov-07'], dtype=object)

In [74]:
# Delete all the null data
print(loan_data.loc[loan_data['last_credit_pull_d'].isnull()].shape)

print(loan_data.shape)
loan_data.dropna(subset=['last_credit_pull_d'], inplace=True)
print(loan_data.shape)

# Check how many of them have 0 data.
print(loan_data.loc[loan_data['last_credit_pull_d'] == '0'].shape)

# And delete those
loan_data.drop(loan_data[loan_data.last_credit_pull_d == '0'].index, inplace=True)
print(loan_data.shape)

loan_data['last_credit_pull_d_month'] = pd.DatetimeIndex(loan_data['last_credit_pull_d'].apply(try_convert_date)).month
loan_data['last_credit_pull_d_year'] = pd.DatetimeIndex(loan_data['last_credit_pull_d'].apply(try_convert_date)).year
print(loan_data['last_credit_pull_d_month'].unique())
print(loan_data['last_credit_pull_d_year'].unique())

loan_data = loan_data.drop('last_credit_pull_d', 1)
# loan_data['last_credit_pull_d'] = loan_data['last_credit_pull_d'].str.replace("-20","")
# loan_data['last_credit_pull_d'].replace(to_replace="([a-zA-Z])(\d+)", value=r"\1-\2", regex=True, inplace=True)
# loan_data['last_credit_pull_d'].unique()

(68, 107)
(1738680, 107)
(1738612, 107)
(5, 107)
(1738554, 107)
[ 1  7  8 11  4 12 10  6  9  5  3  2]
[2018 2017 2016 2014 2015 2013 2012 2011 2010 2007 2009 2008]

In [75]:
# I am keeping the 0 values in the last_credit_pull_d.
# It could mean, the credit was not pulled before.

loan_data['collections_12_mths_ex_med'].unique()

array([ 0,  1,  2,  3,  6,  4, 10,  5,  7, 14, 12, 16, 20,  9,  8, 11])

In [76]:
# collections_12_mths_ex_med looks clean.
# Moving on

In [77]:
# Moving to next 4 columns
print(loan_data.iloc[:6,44:48])
for y in loan_data.columns[44:48]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[44:48]))]

   tot_cur_bal  open_acc_6m  open_act_il  open_il_12m
0     549316.0          0.0          2.0          2.0
1     140492.0          3.0         10.0          2.0
2      24644.0          1.0          1.0          1.0
3      14671.0          1.0          4.0          0.0
4       2574.0          1.0          0.0          0.0
5      62066.0          1.0          2.0          1.0
tot_cur_bal float64
open_acc_6m float64
open_act_il float64
open_il_12m float64

    LoanStatNew                                              Description
74  open_acc_6m                   Number of open trades in last 6 months
75  open_il_12m  Number of installment accounts opened in past 12 months
77  open_act_il            Number of currently active installment trades
97  tot_cur_bal                    Total current balance of all accounts

In [78]:
# mths_since_last_major_derog should be int
print(loan_data.loc[loan_data['mths_since_last_major_derog'].isnull()].shape)
print(loan_data['mths_since_last_major_derog'].unique())

# If mths_since_last_major_derog is NA, this could mean there was no major derogatory remark. 
# Hence assign it to: 1200. 100 years.
loan_data.loc[loan_data['mths_since_last_major_derog'].isnull(), 'mths_since_last_major_derog'] = 1200
print(loan_data['mths_since_last_major_derog'].unique())

# Convert it to int
loan_data[['mths_since_last_major_derog']] = loan_data[['mths_since_last_major_derog']].astype(int)
loan_data['mths_since_last_major_derog'].unique()

(1141113, 108)
[ nan  17.  47.  28.  43.  80.  33.  41.  19.  10.   9.  31.  42.  44.
  45.  29.  53.  21.  52.  12.  34.  56.  36.  67.  63.  72.  49.  40.
  38.  75.  32.  37.  39.  78.  55.  64.  76.  50.  18.  59.  22.  23.
  14.  70.   5.  77.  27.  16.  15.   8.  74.  24.  13.  62.  73.  71.
   6.  81.  58.  54.  79.  57.  25.  83.  30.  66.  65.  48.  11.  20.
  69.  46.  82.  60.  68.  51.  61.  35.  26.   3.   4. 162.   7.   1.
  93.   2.  85. 101.  95. 112.  88.  84.  90. 114. 115.  94.   0.  98.
  87.  86.  89. 165. 105.  91. 123.  99. 108. 120.  92. 107.  96. 100.
 131. 111. 122. 146. 125. 109. 118. 142. 102. 104.  97. 121. 116. 149.
 148. 126. 141. 143. 106. 130. 153. 110. 113. 135. 119. 138. 144. 152.
 134. 127. 136. 103. 117. 133. 155. 137. 132. 128. 124. 129. 161. 147.
 145. 150. 157. 139. 158. 156. 140. 151. 154. 170. 171. 159. 176. 169.
 180. 188. 168. 195. 202. 177. 175. 178. 160. 197. 192.]
[1.20e+03 1.70e+01 4.70e+01 2.80e+01 4.30e+01 8.00e+01 3.30e+01 4.10e+01
 1.90e+01 1.00e+01 9.00e+00 3.10e+01 4.20e+01 4.40e+01 4.50e+01 2.90e+01
 5.30e+01 2.10e+01 5.20e+01 1.20e+01 3.40e+01 5.60e+01 3.60e+01 6.70e+01
 6.30e+01 7.20e+01 4.90e+01 4.00e+01 3.80e+01 7.50e+01 3.20e+01 3.70e+01
 3.90e+01 7.80e+01 5.50e+01 6.40e+01 7.60e+01 5.00e+01 1.80e+01 5.90e+01
 2.20e+01 2.30e+01 1.40e+01 7.00e+01 5.00e+00 7.70e+01 2.70e+01 1.60e+01
 1.50e+01 8.00e+00 7.40e+01 2.40e+01 1.30e+01 6.20e+01 7.30e+01 7.10e+01
 6.00e+00 8.10e+01 5.80e+01 5.40e+01 7.90e+01 5.70e+01 2.50e+01 8.30e+01
 3.00e+01 6.60e+01 6.50e+01 4.80e+01 1.10e+01 2.00e+01 6.90e+01 4.60e+01
 8.20e+01 6.00e+01 6.80e+01 5.10e+01 6.10e+01 3.50e+01 2.60e+01 3.00e+00
 4.00e+00 1.62e+02 7.00e+00 1.00e+00 9.30e+01 2.00e+00 8.50e+01 1.01e+02
 9.50e+01 1.12e+02 8.80e+01 8.40e+01 9.00e+01 1.14e+02 1.15e+02 9.40e+01
 0.00e+00 9.80e+01 8.70e+01 8.60e+01 8.90e+01 1.65e+02 1.05e+02 9.10e+01
 1.23e+02 9.90e+01 1.08e+02 1.20e+02 9.20e+01 1.07e+02 9.60e+01 1.00e+02
 1.31e+02 1.11e+02 1.22e+02 1.46e+02 1.25e+02 1.09e+02 1.18e+02 1.42e+02
 1.02e+02 1.04e+02 9.70e+01 1.21e+02 1.16e+02 1.49e+02 1.48e+02 1.26e+02
 1.41e+02 1.43e+02 1.06e+02 1.30e+02 1.53e+02 1.10e+02 1.13e+02 1.35e+02
 1.19e+02 1.38e+02 1.44e+02 1.52e+02 1.34e+02 1.27e+02 1.36e+02 1.03e+02
 1.17e+02 1.33e+02 1.55e+02 1.37e+02 1.32e+02 1.28e+02 1.24e+02 1.29e+02
 1.61e+02 1.47e+02 1.45e+02 1.50e+02 1.57e+02 1.39e+02 1.58e+02 1.56e+02
 1.40e+02 1.51e+02 1.54e+02 1.70e+02 1.71e+02 1.59e+02 1.76e+02 1.69e+02
 1.80e+02 1.88e+02 1.68e+02 1.95e+02 2.02e+02 1.77e+02 1.75e+02 1.78e+02
 1.60e+02 1.97e+02 1.92e+02]

array([1200,   17,   47,   28,   43,   80,   33,   41,   19,   10,    9,
         31,   42,   44,   45,   29,   53,   21,   52,   12,   34,   56,
         36,   67,   63,   72,   49,   40,   38,   75,   32,   37,   39,
         78,   55,   64,   76,   50,   18,   59,   22,   23,   14,   70,
          5,   77,   27,   16,   15,    8,   74,   24,   13,   62,   73,
         71,    6,   81,   58,   54,   79,   57,   25,   83,   30,   66,
         65,   48,   11,   20,   69,   46,   82,   60,   68,   51,   61,
         35,   26,    3,    4,  162,    7,    1,   93,    2,   85,  101,
         95,  112,   88,   84,   90,  114,  115,   94,    0,   98,   87,
         86,   89,  165,  105,   91,  123,   99,  108,  120,   92,  107,
         96,  100,  131,  111,  122,  146,  125,  109,  118,  142,  102,
        104,   97,  121,  116,  149,  148,  126,  141,  143,  106,  130,
        153,  110,  113,  135,  119,  138,  144,  152,  134,  127,  136,
        103,  117,  133,  155,  137,  132,  128,  124,  129,  161,  147,
        145,  150,  157,  139,  158,  156,  140,  151,  154,  170,  171,
        159,  176,  169,  180,  188,  168,  195,  202,  177,  175,  178,
        160,  197,  192])

In [79]:
loan_data['policy_code'].unique()

array([1])

In [80]:
# Value for policy_code is all 1.
# Dropping it.
loan_data = loan_data.drop('policy_code', 1)

In [81]:
loan_data['application_type'].unique()

array(['Individual', 'Joint App'], dtype=object)

In [82]:
# loan_data['annual_inc_joint'].unique()

In [83]:
# Joint annual income of 0 looks like missing data.
# print(len(loan_data.loc[loan_data['annual_inc_joint'] == 0.0]))
# print(len(loan_data.loc[loan_data['annual_inc_joint'].isnull()]))

In [84]:
# THat is large number of data, which is showing annual_inc_joint = 0.
# And there is no easy way to fix it.
# So, dropping it.
# loan_data = loan_data.drop('annual_inc_joint', 1)

In [85]:
# Moving to next 4 columns
print(loan_data.iloc[:6,47:51])
for y in loan_data.columns[47:51]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[47:51]))]

   open_il_24m  mths_since_rcnt_il  total_bal_il  il_util
0          3.0                 9.0       46469.0     80.0
1          3.0                11.0      119147.0    101.0
2          1.0                 8.0       17131.0     94.0
3          0.0               107.0       11531.0    109.0
4          0.0               111.0           0.0      NaN
5          1.0                11.0       36447.0     14.0
open_il_24m float64
mths_since_rcnt_il float64
total_bal_il float64
il_util float64

,LoanStatNew,Description
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
53,mths_since_rcnt_il,Months since most recent installment accounts opened
76,open_il_24m,Number of installment accounts opened in past 24 months
101,total_bal_il,Total current balance of all installment accounts

In [86]:
# loan_data['dti_joint'].unique()

In [87]:
# len(loan_data.loc[loan_data['dti_joint'] == 0.0])

In [88]:
# The dti_joint = 0 is a large percentage of our total data.
# Hence, dropping it.
# loan_data = loan_data.drop('dti_joint', 1)

In [89]:
# loan_data['verification_status_joint'].unique()

In [90]:
# len(loan_data.loc[loan_data['verification_status_joint'] == '0']) + len(loan_data.loc[loan_data['verification_status_joint'] == 0.0])

In [91]:
# Again a big chunk of the verification_status_joint is 0.
# Hence, dropping it.
# loan_data = loan_data.drop('verification_status_joint', 1)

In [92]:
loan_data['acc_now_delinq'].unique()

array([ 0,  1,  2,  3,  4,  5,  6, 14,  7])

In [93]:
loan_data['tot_coll_amt'].unique()

array([    0.,  3994.,   155., ..., 19596., 10224., 31493.])

In [94]:
# Convert it to int
print(len(loan_data.loc[loan_data['tot_coll_amt'].isnull()]))
# Convert all 0s and nan to 0.
# loan_data.loc[loan_data['tot_coll_amt'].isnull()]['tot_coll_amt'] = 0
loan_data[['tot_coll_amt']] = loan_data[['tot_coll_amt']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data['tot_coll_amt'].unique()
loan_data[['tot_coll_amt']] = loan_data[['tot_coll_amt']].astype(int)
loan_data['tot_coll_amt'].unique()

27710

array([    0,  3994,   155, ..., 19596, 10224, 31493])

In [95]:
# Moving to next 4 columns
print(loan_data.iloc[:6,49:54])
for y in loan_data.columns[49:54]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[49:54]))]

   total_bal_il  il_util  open_rv_12m  open_rv_24m  max_bal_bc
0       46469.0     80.0          0.0          2.0      8713.0
1      119147.0    101.0          3.0          4.0     14612.0
2       17131.0     94.0          2.0          2.0      3695.0
3       11531.0    109.0          1.0          2.0      3140.0
4           0.0      NaN          1.0          1.0      1585.0
5       36447.0     14.0          2.0          2.0      3266.0
total_bal_il float64
il_util float64
open_rv_12m float64
open_rv_24m float64
max_bal_bc float64

,LoanStatNew,Description
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
43,max_bal_bc,Maximum current balance owed on all revolving accounts
78,open_rv_12m,Number of revolving trades opened in past 12 months
79,open_rv_24m,Number of revolving trades opened in past 24 months
101,total_bal_il,Total current balance of all installment accounts

In [96]:
# The datatypes of all of them look good. May need to change the type to int for tot_cur_bal
loan_data['tot_cur_bal'].unique()

array([ 549316.,  140492.,   24644., ..., 1134022.,  504366.,  315577.])

In [97]:
# Converting tot_cur_bal to int as it won't do any harm
loan_data[['tot_cur_bal']] = loan_data[['tot_cur_bal']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data['tot_cur_bal'].unique()
loan_data[['tot_cur_bal']] = loan_data[['tot_cur_bal']].astype(int)
loan_data['tot_cur_bal'].unique()

array([ 549316,  140492,   24644, ..., 1134022,  504366,  315577])

In [98]:
# Convert all nan/na to 0.
loan_data[['open_acc_6m']] = loan_data[['open_acc_6m']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['open_act_il']] = loan_data[['open_act_il']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['open_il_12m']] = loan_data[['open_il_12m']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['open_il_24m']] = loan_data[['open_il_24m']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Coverting to int
loan_data[['open_acc_6m']] = loan_data[['open_acc_6m']].astype(int)
loan_data[['open_act_il']] = loan_data[['open_act_il']].astype(int)
loan_data[['open_il_12m']] = loan_data[['open_il_12m']].astype(int)
loan_data[['open_il_24m']] = loan_data[['open_il_24m']].astype(int)

In [99]:
# Now print to see if there is anything I missed.
print(loan_data['open_acc_6m'].unique())
print(loan_data['open_il_12m'].unique())
print(loan_data['open_il_24m'].unique())
print(loan_data['open_act_il'].unique())
print(loan_data['tot_cur_bal'].unique())

[ 0  3  1  2  5  4  8  7  6 11 10  9 13 12 16 14 15 18 17]
[ 2  1  0  3  5  6  4  7  8 10  9 11 12 13 15 14 20 21 25]
[ 3  1  0  2  5  7  4  6 12  8 13 11  9 10 15 14 16 26 20 22 21 23 17 18
 19 30 39 24 31 28 51]
[ 2 10  1  4  0  3  5 17  7 12  9 11  8 15  6 27 16 14 20 13 21 18 22 19
 32 26 34 23 30 24 29 35 36 28 31 25 40 33 43 39 37 45 38 53 47 55 42 57
 41 46 48]
[ 549316  140492   24644 ... 1134022  504366  315577]

In [100]:
# Moving to next 4 columns
print(loan_data.iloc[:6,59:64])
for y in loan_data.columns[59:64]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[59:64]))]

   acc_open_past_24mths  avg_cur_bal  bc_open_to_buy  bc_util  \
0                   7.0      34332.0         68269.0     11.7
1                   7.0       6386.0          9645.0     73.1
2                   3.0       2464.0          4764.0     60.6
3                   2.0       2445.0          3860.0     44.9
4                   1.0        644.0          1015.0     61.0
5                   3.0       6896.0          4890.0     40.4

   chargeoff_within_12_mths
0                         0
1                         0
2                         0
3                         0
4                         0
5                         0
acc_open_past_24mths float64
avg_cur_bal float64
bc_open_to_buy float64
bc_util float64
chargeoff_within_12_mths int64

,LoanStatNew,Description
1,acc_open_past_24mths,Number of trades opened in past 24 months.
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10,chargeoff_within_12_mths,Number of charge-offs within 12 months

In [101]:
# Convert nan/na to 0
loan_data[['max_bal_bc']] = loan_data[['max_bal_bc']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['all_util']] = loan_data[['all_util']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['total_rev_hi_lim']] = loan_data[['total_rev_hi_lim']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['inq_fi']] = loan_data[['inq_fi']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['total_cu_tl']] = loan_data[['total_cu_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
# all of these should be int type
loan_data[['max_bal_bc']] = loan_data[['max_bal_bc']].astype(int)
loan_data[['all_util']] = loan_data[['all_util']].astype(int)
loan_data[['total_rev_hi_lim']] = loan_data[['total_rev_hi_lim']].astype(int)
loan_data[['inq_fi']] = loan_data[['inq_fi']].astype(int)
loan_data[['total_cu_tl']] = loan_data[['total_cu_tl']].astype(int)

In [102]:
# And print
print(loan_data['max_bal_bc'].unique())
print(loan_data['all_util'].unique())
print(loan_data['total_rev_hi_lim'].unique())
print(loan_data['inq_fi'].unique())
print(loan_data['total_cu_tl'].unique())

[ 8713 14612  3695 ... 37069 41500 25858]
[ 18  83  76  55  32  44  77  51  34  28  63  53  70  59  78  71  46  52
  56  75  57  91  60  88 103  37  48  45  67  89  94  61  58  27  40  66
  49  47  14  80  26  35 115  96 104  38  30  43  33  62  65  87  85  82
 128  90  72  79 114  42  74  68 102  22  29  19  21  64  54  84  50  41
  23  93  92  13  69  81  39  86   3   9 101  31 105  24  73  36  25 117
  12  16  95   8  99  98   5  15 121  11 108   2   0 118 110   6  97  10
 109 113  17 112 106  20 116   4 107   1   7 148 100 133 127 139 126 149
 129 120 124 131 122 111 130 119 123 125 151 137 132 161 136 134 153 146
 135 156 140 142 184 145 152 141 185 173 143 165 138 158 144 160 147 168
 162 177 186 175 154 150 157 172 171 155 211 164 169 198 170 167 204]
[102800  39000  14100 ...  42032  62105 113549]
[ 4  1  2  0  5  3  9  8  7  6 10 11 17 12 16 13 14 19 15 18 25 20 24 23
 22 27 21 48 28]
[  3   6   0   4   2   5   1   9   7  12  40  23  17  11  10  16   8  24
  14  13  19  29  21  15  18  28  22  34  20  45  30  26  38  25  27  32
  37  48  49  33  35  31  42  51  71  68  36  39  52  56  54  55  43  41
  44  65  46  77  60  47  79 111]

In [103]:
# Moving to next 4 columns
print(loan_data.iloc[:6,64:69])
for y in loan_data.columns[64:69]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[64:69]))]

   delinq_amnt  mo_sin_old_il_acct  mo_sin_old_rev_tl_op  \
0            0               143.0                 172.0
1            0               157.0                 248.0
2            0                 8.0                  59.0
3            0               126.0                  21.0
4            0               111.0                 151.0
5            0               216.0                 361.0

   mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl
0                   17.0             7.0
1                    4.0             4.0
2                    3.0             3.0
3                    2.0             2.0
4                    3.0             3.0
5                    2.0             2.0
delinq_amnt int64
mo_sin_old_il_acct float64
mo_sin_old_rev_tl_op float64
mo_sin_rcnt_rev_tl_op float64
mo_sin_rcnt_tl float64

,LoanStatNew,Description
14,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
45,mo_sin_old_il_acct,Months since oldest bank installment account opened
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened

In [104]:
# Convert nan/na to 0
loan_data[['acc_open_past_24mths']] = loan_data[['acc_open_past_24mths']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['avg_cur_bal']] = loan_data[['avg_cur_bal']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['bc_open_to_buy']] = loan_data[['bc_open_to_buy']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['inq_last_12m']] = loan_data[['inq_last_12m']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Other than bc_util, everything can be int.
loan_data[['acc_open_past_24mths']] = loan_data[['acc_open_past_24mths']].astype(int)
loan_data[['avg_cur_bal']] = loan_data[['avg_cur_bal']].astype(int)
loan_data[['bc_open_to_buy']] = loan_data[['bc_open_to_buy']].astype(int)
loan_data[['inq_last_12m']] = loan_data[['inq_last_12m']].astype(int)

print(loan_data['acc_open_past_24mths'].unique())
print(loan_data['avg_cur_bal'].unique())
print(loan_data['bc_open_to_buy'].unique())
print(loan_data['inq_last_12m'].unique())

[ 7  3  2  1  4 10  0  5 12  8  6 11 13  9 15 14 17 16 27 18 19 35 21 23
 22 20 28 25 30 26 29 24 32 39 48 34 61 33 31 45 36 40 37 42 50 64 47 41
 38 55 46 53 44 54 43 49 56]
[34332  6386  2464 ... 73879 57694 94162]
[68269  9645  4764 ... 59525 69496 47424]
[ 3  0  6  1  7  2  4 17  5 13  8 15  9 11 12 10 16 24 14 22 18 21 20 19
 29 25 23 27 28 26 34 40 33 30 31 32 38 42 36 37 35 41 49]

In [105]:
# Moving to next columns
print(loan_data.iloc[:6,69:72])
for y in loan_data.columns[69:72]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[69:72]))]

   mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq
0       2.0                  68.0                       NaN
1       0.0                   4.0                       7.0
2       0.0                   3.0                      17.0
3       0.0                   2.0                       NaN
4       0.0                  41.0                       NaN
5       5.0                   2.0                       NaN
mort_acc float64
mths_since_recent_bc float64
mths_since_recent_bc_dlq float64

,LoanStatNew,Description
49,mort_acc,Number of mortgage accounts.
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency

In [106]:
# Converting mo_sin_old_il_acct to int
loan_data[['inq_last_12m']] = loan_data[['inq_last_12m']].astype(int)
loan_data['inq_last_12m'].unique()

array([ 3,  0,  6,  1,  7,  2,  4, 17,  5, 13,  8, 15,  9, 11, 12, 10, 16,
       24, 14, 22, 18, 21, 20, 19, 29, 25, 23, 27, 28, 26, 34, 40, 33, 30,
       31, 32, 38, 42, 36, 37, 35, 41, 49])

In [107]:
# Moving to next columns
print(loan_data.iloc[:6,72:76])
for y in loan_data.columns[72:76]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[72:76]))]

   mths_since_recent_inq  mths_since_recent_revol_delinq  \
0                    2.0                             NaN
1                   22.0                             7.0
2                    1.0                            17.0
3                    5.0                             NaN
4                    3.0                             NaN
5                   11.0                            16.0

   num_accts_ever_120_pd  num_actv_bc_tl
0                    0.0             2.0
1                    0.0             5.0
2                    1.0             5.0
3                    8.0             1.0
4                    0.0             1.0
5                    0.0             2.0
mths_since_recent_inq float64
mths_since_recent_revol_delinq float64
num_accts_ever_120_pd float64
num_actv_bc_tl float64

,LoanStatNew,Description
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts

In [108]:
# Convert nan/na to 0
loan_data[['mo_sin_rcnt_tl']] = loan_data[['mo_sin_rcnt_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['mort_acc']] = loan_data[['mort_acc']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['mths_since_recent_bc']] = loan_data[['mths_since_recent_bc']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['mths_since_recent_bc_dlq']] = loan_data[['mths_since_recent_bc_dlq']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Converting all of them to int
loan_data[['mo_sin_rcnt_tl']] = loan_data[['mo_sin_rcnt_tl']].astype(int)
loan_data[['mort_acc']] = loan_data[['mort_acc']].astype(int)
loan_data[['mths_since_recent_bc']] = loan_data[['mths_since_recent_bc']].astype(int)
loan_data[['mths_since_recent_bc_dlq']] = loan_data[['mths_since_recent_bc_dlq']].astype(int)

print(loan_data['mo_sin_rcnt_tl'].unique())
print(loan_data['mort_acc'].unique())
print(loan_data['mths_since_recent_bc'].unique())
print(loan_data['mths_since_recent_bc_dlq'].unique())

[  7   4   3   2   1   0  28  16   5  14   8  26   6  15  13  53  25  17
  31   9  45  34  36  11  32  35  10  19  18  37  12  20  21  38  23  50
  40  39  33  62  24 107  22  27  47  48  90  29  43  66  49  52  42  30
  61 129  41  44  71 101  76  56  46  78  63  58 100  86  51  54 120  70
  77 108 170  72  73  98 103  97  60 112  59  69 131  65  64 143  88  55
  87  57  67  83  68  92 148  95 171  75  96  79  74  80  93  81 132 105
 104  82 161  89  91 117  84 102  94 114 141 268  85 106 147  99 116 118
 110 125 123 113 115 134 109 122 119 130 111 135 195 124 157 139 121 153
 126 145 137 128 152 175 140 211 127 174 180 166 192 146 133 150 197 176
 158 136 142 138 154 263 164 181 160 184 167 186 236 151 144 199 149 165
 156 194 155 226 173 233 159 183 314 213 219 168 196 253 172 248 206 201
 257 255 272 283 177 169 210 162 289]
[ 2  0  5  4  1  3  6  7  8  9 12 10 13 11 15 30 24 14 20 17 45 29 16 19
 21 18 23 31 27 25 22 35 32 47 26 52 34 28 33 36 37 61 41 94 51]
[ 68   4   3   2  41  33   1   5  31  25  44  19   6  50   0  14  17  90
  13  10 118  18  22  53  15  29  36  32  83  26  24  45 184  99  77   9
  12 104   8  70  42  47  11  35  28  16  92  48  37  23  66  21   7  30
 100  20  38  75  43  73  40 316  82 119  27  72 392  51 196  87  62  58
  81  60  57  54 110  61 111  49  56  34  65  88  39 128 221 117 150 138
 121 130 201 114 106  85  86  79  46 105 194 143 115  91 133  59 112 101
  89  95 103  55  94  64  71 157  63 180 195  74 158 135 109 154  80  96
 140  97 320  98 137  52 102 120 360 218 175 148 257 129 193 262  67 107
 108  84  76 123 199 246 168 225 124 177 189 127  69 116 125 202 122 163
 134  93 170 145 233 267 243 270 231 222 156 216 126 139 211 186 160  78
 250 213 144 259 149 397 172 378 182 132 153 171 136 239 210 273 141 113
 161 190 178 207 164 167 228 375 174 235 198 236 151 277 402 373 192 264
 165 169 162 240 197 209 155 230 181 183 159 185 131 173 179 187 176 142
 312 241 166 343 191 305 266 146 377 254 336 311 147 206 313 276 282 317
 208 204 348 281 152 287 431 249 234 232 292 214 381 261 188 205 458 426
 252 256 294 224 203 265 314 324 258 404 291 345 253 272 364 245 330 307
 226 255 215 251 244 248 220 299 200 302 217 420 219 242 321 238 293 268
 463 271 384 227 229 318 319 247 309 354 297 223 401 269 304 274 435 339
 346 546 349 275 327 512 260 263 212 279 403 356 295 310 357 237 296 383
 278 332 331 289 334 325 400 553 326 323 315 306 450 380 499 329 410 328
 449 351 353 280 521 363 407 288 447 300 523 350 358 388 474 347 335 555
 283 459 502 290 386 303 398 285 284 417 554 361 493 301 342 527 416 538
 338 298 412 362 359 413 308 333 387 341 344 524 369 419 425 368 340 394
 379 352 462 451 337 376 322 485 483 367 473 534 286 610 498 467 454 552
 440 389 466 429 604 484 422 370 518 615 427 507 476 395 415 464 475 399
 444 611 488 441 408 461 396 470 608 366 382 385 372 391 390 510 436 533
 616 424 500 365 480 371 491 393 504 455 423 421 445 570 520 539 409 374
 513 432 418 481 591 656 547 439 434 405 551 594 453 406 564 355 506 537
 438 414 577 457 639 472]
[  0   7  17  22  44  13   3  27  48  28  57  90  79   4  29  19  26  42
  36  52   8  38  34   5  24  10  72  32  56  61  11  37  33  23  81  74
  70  76  64  50  40  43  20  49  45  18  41  63  35  15  75  12   9  62
  71  58  14  80   6  59  67  78  66  47  21  31   1  46  16  55  83  30
  25  68  39  51 100  69  53  54  65   2  60 162  73  77  93 112  88  84
  89  95  98  82  99  86 104 105  91  87  94 120  92  96  85 107 142 137
 125 121 108 131 118 110 116 102  97 130 144 134 111 127 103 101 119 149
 123 113 124 114 146 117 136 161 145 115 129 109 126 106 158 157 122 143
 152 189 153 133 154 170 186 141 195 132 148 140 128 138 165 176 139 155
 135 151 159 150 202 156 160 188 174]

In [109]:
# Moving to next columns
print(loan_data.iloc[:6,76:78])
for y in loan_data.columns[76:78]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[76:78]))]

   num_actv_rev_tl  num_bc_sats
0              2.0          9.0
1              9.0          6.0
2              8.0          5.0
3              1.0          2.0
4              2.0          2.0
5              4.0          3.0
num_actv_rev_tl float64
num_bc_sats float64

        LoanStatNew                                  Description
61  num_actv_rev_tl  Number of currently active revolving trades
62      num_bc_sats     Number of satisfactory bankcard accounts

In [110]:
# Convert nan/na to 0
loan_data[['mths_since_recent_inq']] = loan_data[['mths_since_recent_inq']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['mths_since_recent_revol_delinq']] = loan_data[['mths_since_recent_revol_delinq']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Converting all of them to int
loan_data[['mths_since_recent_inq']] = loan_data[['mths_since_recent_inq']].astype(int)
loan_data[['mths_since_recent_revol_delinq']] = loan_data[['mths_since_recent_revol_delinq']].astype(int)

print(loan_data['mths_since_recent_inq'].unique())
print(loan_data['mths_since_recent_revol_delinq'].unique())

[ 2 22  1  5  3 11  7  0  9 18 21  6 13  8 10  4 12 15 14 17 20 19 16 23
 24 25]
[  0   7  17  16  12  22  44  13   3  27   8  48  28  57   4   9  79  11
  51  29  58  19  26  23  41  36  52  49  38  34   5  24  10  63  72  32
  31  61  47  33  81  74  14  76  64  50  40  43  18  20   2  21  37  35
  39   1  15  75  45   6  55  71  69  80  59  78  66  30  25  42  46  83
  56  70  53  67  68 100  62  60  54 162  65  93  73  86  77 112  88  92
  84  90  94  95  98  82 165 105  91  85  99  87 120 118  96  89 107  97
 109 142 104 121 131 102 106 116 134 111 127 123 103 101 119 110 113 108
 124 130 149 114 141 132 146 117 115 161 129 126 136 158 137 135 122 156
 143 148 152 125 153 157 154 138 170 171 145 133 144 176 139 155 140 180
 151 159 150 202 177 128 178 160 197 188 174]

In [111]:
# Moving to next columns
print(loan_data.iloc[:6,78:82])
for y in loan_data.columns[78:82]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[78:82]))]

   num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts
0       15.0        9.0           14.0           26.0
1        7.0       25.0           11.0           18.0
2        9.0        1.0            9.0           16.0
3        2.0       13.0            2.0            2.0
4        6.0        1.0            4.0            9.0
5        3.0        4.0            5.0           10.0
num_bc_tl float64
num_il_tl float64
num_op_rev_tl float64
num_rev_accts float64

      LoanStatNew                        Description
63      num_bc_tl        Number of bankcard accounts
64      num_il_tl     Number of installment accounts
65  num_op_rev_tl  Number of open revolving accounts
66  num_rev_accts       Number of revolving accounts

In [112]:
# Convert nan/na to 0
loan_data[['num_accts_ever_120_pd']] = loan_data[['num_accts_ever_120_pd']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_actv_bc_tl']] = loan_data[['num_actv_bc_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_actv_rev_tl']] = loan_data[['num_actv_rev_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_bc_sats']] = loan_data[['num_bc_sats']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Converting all of them to int
loan_data[['num_accts_ever_120_pd']] = loan_data[['num_accts_ever_120_pd']].astype(int)
loan_data[['num_actv_bc_tl']] = loan_data[['num_actv_bc_tl']].astype(int)
loan_data[['num_actv_rev_tl']] = loan_data[['num_actv_rev_tl']].astype(int)
loan_data[['num_bc_sats']] = loan_data[['num_bc_sats']].astype(int)

print(loan_data['num_accts_ever_120_pd'].unique())
print(loan_data['num_actv_bc_tl'].unique())
print(loan_data['num_actv_rev_tl'].unique())
print(loan_data['num_bc_sats'].unique())

[ 0  1  8  4  3 12  5  6  2 18  9  7 10 11 23 16 34 15 14 13 28 36 17 21
 24 19 20 33 25 26 30 22 27 31 35 42 29 39 32 51 45 38]
[ 2  5  1  0  7  4 11  3 10  6  8  9 22 12 13 20 16 17 14 15 18 23 19 24
 21 26 25 46 47 31 30 27 29 32 28 36 33 37 35]
[ 2  9  8  1  4  3  7  6 14  5 16 13 12 10 28 15 18 11 27  0 17 22 30 19
 31 23 21 20 25 24 26 32 29 33 41 38 44 46 35 59 39 34 37 57 43 63 36 40
 42 47 52 48 60 45 51]
[ 9  6  5  2  3  4  1 15 11 10  8 12  7 14 13 22 17  0 24 16 20 18 33 19
 23 25 21 27 35 30 26 31 36 32 29 39 38 44 54 34 28 37 61 40 43 55 45 48
 57 42 46 63 71 41 49 47 50]

In [113]:
# Moving to next columns
print(loan_data.iloc[:6,82:87])
for y in loan_data.columns[82:87]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[82:87]))]

   num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  \
0                  2.0      18.0               0.0           0.0
1                  9.0      22.0               0.0           0.0
2                  8.0      10.0               0.0           0.0
3                  1.0       6.0               0.0           0.0
4                  2.0       4.0               0.0           0.0
5                  4.0       9.0               0.0           0.0

   num_tl_90g_dpd_24m
0                 0.0
1                 0.0
2                 2.0
3                 0.0
4                 0.0
5                 0.0
num_rev_tl_bal_gt_0 float64
num_sats float64
num_tl_120dpd_2m float64
num_tl_30dpd float64
num_tl_90g_dpd_24m float64

,LoanStatNew,Description
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due (updated in past 2 months)
70,num_tl_30dpd,Number of accounts currently 30 days past due (updated in past 2 months)
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in last 24 months

In [114]:
# Convert nan/na to 0
loan_data[['num_bc_tl']] = loan_data[['num_bc_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_il_tl']] = loan_data[['num_il_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_op_rev_tl']] = loan_data[['num_op_rev_tl']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_rev_accts']] = loan_data[['num_rev_accts']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_rev_tl_bal_gt_0']] = loan_data[['num_rev_tl_bal_gt_0']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Converting all of them to int
loan_data[['num_bc_tl']] = loan_data[['num_bc_tl']].astype(int)
loan_data[['num_il_tl']] = loan_data[['num_il_tl']].astype(int)
loan_data[['num_op_rev_tl']] = loan_data[['num_op_rev_tl']].astype(int)
loan_data[['num_rev_accts']] = loan_data[['num_rev_accts']].astype(int)
loan_data[['num_rev_tl_bal_gt_0']] = loan_data[['num_rev_tl_bal_gt_0']].astype(int)

print(loan_data['num_bc_tl'].unique())
print(loan_data['num_il_tl'].unique())
print(loan_data['num_op_rev_tl'].unique())
print(loan_data['num_rev_accts'].unique())
print(loan_data['num_rev_tl_bal_gt_0'].unique())

[15  7  9  2  6  3  8 18  5 13 10 12  4 19 11 17 14 16 26 22  1 21 25 37
 20  0 30 24 23 31 29 34 27 38 28 35 32 33 36 40 48 59 46 52 42 47 44 65
 39 41 58 43 67 51 53 45 50 55 49 54 57 61 60 56 70 64 79 68 77 63 76]
[  9  25   1  13   4   7  14  10  12   5   6  16   3  17   8  15   2  28
  11  27  31  19  18  52   0  30  90  50  32  22  23  48  51  53  26  33
  20  21  24  29  87  36  42  34  62  35  39  37  40  43  46  47  56  41
  44  61  38  66  57  45  54  49  65  55  73  63  70  60 107  71  58  76
  69  59  81  74  72  68  64  75  84  67  78  82  98 104  89  97  91  94
  77  86  85  95  80  99 100  83 101 117  96 118 132  79  93  88 131 109
 150 113 127 138 121 110 159 102 140 128]
[14 11  9  2  4  5  8  3 15 18 10 12  6 13 16  7 17 19 32 21 20 26 22 23
  1 25 24 34 29 51 28  0 27 36 44 31 30 33 38 40 41 39 43 79 45 48 37 52
 35 56 55 46 76 47 53 42 59 57 54 49 63 65 64 50 58 66 67 83 69 60 62 91
 71 61 86 72 77 73]
[ 26  18  16   2   9  10   8  11  13  21   3   4  22  19  12  17   7  33
  25  20  14  31   6  23  24  40  27  15   5  30  32  41  34  28  67  29
  37  42  36  35  39  44  38  52  45  49  43  59  46  54  47  55  61  50
  63  66  65  53  51  48  56  62  60  57 104  76  58  64  80  68  73  81
  70 100  74  78  84  92  88  69  71  82  77  72  90  85  79  93 113  75
  94  91   0   1 118  86  96 102 112  83  87  98 101 128 105  89 108 127
 143 107 103]
[ 2  9  8  1  4  3  7  6 14  5 16 13 12 10 28 15 18 11 27  0 17 22 30 19
 31 23 21 20 25 24 26 32 33 38 29 35 59 34 37 44 43 40 36 39 42 45 41 47]

In [115]:
# Moving to next columns
print(loan_data.iloc[:6,87:91])
for y in loan_data.columns[87:91]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[87:91]))]

   num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies
0                 3.0           100.0               0.0                   1.0
1                 5.0           100.0              33.3                   0.0
2                 3.0            82.4              40.0                   0.0
3                 1.0            54.5              50.0                   0.0
4                 1.0            90.0               0.0                   0.0
5                 3.0            78.9              33.3                   0.0
num_tl_op_past_12m float64
pct_tl_nvr_dlq float64
percent_bc_gt_75 float64
pub_rec_bankruptcies float64

             LoanStatNew                                          Description
72    num_tl_op_past_12m          Number of accounts opened in past 12 months
82        pct_tl_nvr_dlq                   Percent of trades never delinquent
83      percent_bc_gt_75  Percentage of all bankcard accounts > 75% of limit.
86  pub_rec_bankruptcies                 Number of public record bankruptcies

In [116]:
# Convert nan/na to 0
loan_data[['num_sats']] = loan_data[['num_sats']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_tl_120dpd_2m']] = loan_data[['num_tl_120dpd_2m']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_tl_30dpd']] = loan_data[['num_tl_30dpd']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['num_tl_90g_dpd_24m']] = loan_data[['num_tl_90g_dpd_24m']].applymap(lambda x: 0 if pd.isnull(x) else x)
# Converting all of them to int
loan_data[['num_sats']] = loan_data[['num_sats']].astype(int)
loan_data[['num_tl_120dpd_2m']] = loan_data[['num_tl_120dpd_2m']].astype(int)
loan_data[['num_tl_30dpd']] = loan_data[['num_tl_30dpd']].astype(int)
loan_data[['num_tl_90g_dpd_24m']] = loan_data[['num_tl_90g_dpd_24m']].astype(int)

print(loan_data['num_sats'].unique())
print(loan_data['num_tl_120dpd_2m'].unique())
print(loan_data['num_tl_30dpd'].unique())
print(loan_data['num_tl_90g_dpd_24m'].unique())

[18 22 10  6  4  9 12 19 11 16  7 17  5 35 13 15 14  3 20  8 21 34 24 23
 29 26 25 40 28  2 27  1 38 36 30 31 42 37 53 33 41 44 39 32 49 60 46 43
 47 51 80 50 57 52 45 48 54 62 85 56 59 76  0 58 68 87 64 65 55 67 66 70
 82 63 79 74 90 72 71 75 84 61 97 93 91 81 77 69]
[0 1 2 4 6 3 7]
[0 1 2 3 4]
[ 0  2  1  7  3  4  6  5 20 18 10  8 11 14  9 12 16 13 15 17 42 25 24 30
 26 22 39 19 29 36 21]

In [117]:
# Moving to next columns
print(loan_data.iloc[:6,91:95])
for y in loan_data.columns[91:95]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[91:95]))]

   tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit
0          0         682041.0            55500.0         77300.0
1          0         147587.0           140492.0         30200.0
2          0          32410.0            24644.0         12100.0
3          0          17620.0            14671.0          7000.0
4          0           4700.0             2574.0          2600.0
5          0         153809.0            42894.0          8200.0
tax_liens int64
tot_hi_cred_lim float64
total_bal_ex_mort float64
total_bc_limit float64

           LoanStatNew                              Description
93           tax_liens                      Number of tax liens
98     tot_hi_cred_lim           Total high credit/credit limit
100  total_bal_ex_mort  Total credit balance excluding mortgage
102     total_bc_limit  Total bankcard high credit/credit limit

In [118]:
# Convert nan/na to 0
loan_data[['num_tl_op_past_12m']] = loan_data[['num_tl_op_past_12m']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['pub_rec_bankruptcies']] = loan_data[['pub_rec_bankruptcies']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['pct_tl_nvr_dlq']] = loan_data[['pct_tl_nvr_dlq']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['percent_bc_gt_75']] = loan_data[['percent_bc_gt_75']].applymap(lambda x: 0 if pd.isnull(x) else x)
# converting some to int
loan_data[['num_tl_op_past_12m']] = loan_data[['num_tl_op_past_12m']].astype(int)
loan_data[['pub_rec_bankruptcies']] = loan_data[['pub_rec_bankruptcies']].astype(int)

print(loan_data['num_tl_op_past_12m'].unique())
print(loan_data['pct_tl_nvr_dlq'].unique())
print(loan_data['percent_bc_gt_75'].unique())
print(loan_data['pub_rec_bankruptcies'].unique())

[ 3  5  1  2  4  0  7  6  9  8 11 12 10 14 17 15 13 21 20 18 16 22 19 24
 25 30 23 26 28 29 27 31 32]
[100.   82.4  54.5  90.   78.9  73.1  86.2  92.   85.7  96.4  85.2  75.
  69.6  89.5  60.   97.1  82.6  71.4  89.7  78.4  76.9  84.6  96.2  87.1
  89.6  94.9  88.   92.3  77.3  92.1  66.7  89.   94.1  95.   77.8  97.4
  88.9  92.9  90.9  88.5  65.4  87.5  81.3  97.3  91.7  87.   95.2  75.5
  95.7  95.6  96.3  83.3  90.5  97.8  88.6  92.6  95.5  70.6  75.8  80.
  76.2  78.6  69.7  93.8  96.9  96.   68.   97.2  81.8  88.2  80.6  98.5
  96.6  93.3  89.3  97.7  97.6  71.7  77.1  83.8  94.6  74.3  95.8  94.4
  61.1  91.3  97.   76.   64.3  54.8  76.7  85.   68.2  89.1  90.2  78.1
  63.6  92.7  96.8  94.7  93.9  85.3  64.5  93.5  93.1  95.1  62.5  78.3
  97.9  84.4  76.5  98.3  82.1  42.9  91.2  81.   95.3  94.   96.7  72.7
  53.8  79.2  98.   82.9  70.   73.7  80.5  41.7  51.4  75.6  70.8  84.2
  86.1  78.7  65.   79.4  73.9  91.9  90.6  86.7  86.4  95.9  76.1  87.9
  77.4  87.8  87.2  59.1  98.1  61.9  90.3  70.3  77.5  64.7  58.8  80.8
  90.4  90.7  76.6  57.1  61.5  73.3  93.6  45.5  88.1  96.1  68.8  81.5
  88.4  45.   98.2  73.8  47.8  97.5  41.   92.5  64.9  93.   50.   79.3
  54.2  93.7  68.9  48.6  78.8  62.1  56.3  94.3  91.4  33.3  46.2  55.6
  58.3  67.9  84.1  56.7  82.8  86.8  72.2  44.9  84.   91.5  67.6  91.1
  79.6  35.7  74.2  52.4  73.   69.2  81.6  84.8  61.3  86.5  58.6  67.
  91.8  63.   64.   72.   43.5  63.3  83.9  98.6  36.7  87.3  44.4  59.3
  57.9  75.9  53.3  74.5  83.   99.1  68.4  76.4  72.4  65.2  86.9  93.2
  89.8  80.9  74.1  52.6  71.9  81.2  82.   47.4  47.1  63.2  89.2  65.8
  67.4  86.   37.5  55.   94.2  46.7  26.3  98.4  74.4  52.9  57.8  71.
  43.8  23.1  94.8  71.8  61.8  73.5  85.4  69.   78.   43.3  82.5  89.4
  57.7  81.1  60.9  53.6  98.8  76.3  84.9  78.2  69.8  88.7  90.8  71.1
  93.4  45.8  62.2  52.5  48.   40.   24.   96.5  75.7  56.1  41.2  83.7
  38.5  43.7  99.   56.5  58.1  62.9  91.   82.7  85.5  81.4  92.2  48.4
  64.4  65.6  31.3  51.5  64.1  79.5  51.7  51.6  69.4  42.1  65.5  74.
  68.7  55.8  55.2  83.1  94.5  31.   70.7  39.1  67.7  34.5  38.1  56.
  68.6  36.4  87.7  77.   80.7  98.7  44.8  25.   83.6  73.2  58.   57.
  44.   79.   57.6  72.5  38.9  63.8  41.4  61.   60.6  52.   31.2  85.1
  26.7  59.5  35.9  70.4  77.6  62.8  56.2  79.1  89.9  57.5  98.9  90.1
  95.4  48.3  32.   67.3  60.7  18.2  70.2  16.7  48.8  72.1  22.2  47.2
  44.7  36.8  54.1  31.9  59.4  32.1  46.4  66.   65.7  30.8  43.2  72.3
  80.4  84.3  52.2  45.2  46.9  38.2  70.9  40.4  53.1  39.3  62.   29.4
  82.2  80.3  67.5  37.   59.2  86.3  50.9  37.1  12.5  60.5  31.8  31.6
  54.3  87.4  74.6  51.9  65.9  51.2  28.6  72.9  53.   42.4  40.9  59.
  58.5  48.1  71.2  54.   21.2  15.   25.8   0.   82.3  20.   69.5  60.4
  41.9  27.8  56.9  79.7  11.1  58.9  92.8  65.1  47.3  10.   29.   55.9
  30.4  47.6  73.6  75.4  48.7  70.5  13.3  18.4  52.1  21.7  92.4  38.7
  35.3   5.   32.3   8.3  51.1  56.8  27.3  27.9  63.9  28.3  10.7  39.4
  51.3  76.8  32.4  63.4  84.5  52.8  40.7  30.   86.6  68.3  56.6  63.5
  80.2  25.7  21.4  46.   43.4  48.5  40.5  62.7  42.3  68.1  43.9  55.3
  34.3  11.5  36.   23.8  51.   17.5  69.9  47.5  23.5  77.2  68.5  61.4
  42.5  27.   66.1  36.6  39.   18.5  43.   44.2  99.2  53.5  61.7  39.5
  47.   34.   14.3  84.7  28.   78.5  29.7  85.9  81.7  34.6  88.3  25.9
  71.6  34.8  45.7  18.   17.   33.   42.   38.   35.   49.   16.   37.8
  64.8  17.6  35.5  27.5  65.3  37.3  91.6  14.8  64.6  37.9  22.6  37.2
  57.4  53.7  44.1  13.   55.1  59.6  26.1  48.9  28.2  42.6  60.8  41.8
  45.3  40.6  58.7  72.6  77.9  46.8  20.6  29.2  69.1  64.2  32.7  27.6
  18.9  24.2  25.6  56.4  21.9  18.7  52.3  73.4  24.1  53.2  62.3   7.7
  36.1   5.9  35.1  21.1  75.3  41.5  45.9  11.8  22.7  21.6  30.6  34.4
  16.3  34.9  83.5  59.7  54.9  46.3  20.5  60.3  66.2  34.2  20.7  19.
  52.7  39.2  17.4  19.2  26.9  34.7  49.1  39.8  31.7   6.7  26.5  30.3
  67.2  23.3  99.4  15.8  23.7  29.3  24.4  50.8  88.8  81.9  58.2  28.1
   7.9  31.4  22.   61.2  47.7  41.3  10.5  25.4  35.8  22.9  29.5   7.1
  29.6  31.1  30.2  46.5  48.2  12.   45.1  13.2  43.6  67.1  13.8  99.3
  58.4]
[  0.    33.3   40.    50.     6.7   20.   100.    75.    12.5   83.3
  66.7   90.    25.    63.6   80.    85.7   62.5   45.5   27.3   16.7
  22.2    4.5   10.    14.3   38.5   60.    11.1   42.9   28.6   37.5
  87.5   57.1   30.8   54.5   71.4   34.8   36.4   44.4    6.3   18.2
  30.     8.3    5.9   88.9   53.3   55.6    9.1   77.8    5.    81.8
  70.    15.6   13.3   21.1   46.7   26.7   41.7    5.3    4.3   23.1
  72.7   17.6   84.6   21.4   15.8    7.7    7.1   43.8   15.4   11.8
  64.3   31.3   46.2   76.9   52.9   53.8   35.7   29.4   91.7   69.2
  58.3   92.9    4.8   32.    90.9   73.3   92.3    4.    18.7   61.5
   6.2   36.8   86.7    9.5   61.1   23.5   47.4   56.2   68.7   31.2
  10.5   20.8    5.6   19.     8.    26.1   56.5   78.6   47.1   27.8
  17.4    3.8   57.9    4.2   34.6   38.9   13.8   94.4   35.    78.9
  84.    43.7   22.7   93.3   70.6    1.9   93.7   52.6   58.8   35.3
  26.3   15.    41.2   93.8    8.7   82.4   14.8   31.6   42.1    2.1
   3.3   23.8   88.2   31.8   94.7   73.7    7.4   18.8   52.2    5.1
  68.8   47.6   56.3   13.    84.2   11.5   16.    38.1   24.    81.3
  73.9   76.5   78.3    3.7   31.    40.9    3.6   95.     1.     0.33
   0.75   0.67   0.8    0.5    0.4    0.25   0.6    0.2    0.38   0.82
   0.63   0.43   0.29  90.5   68.4   76.2    3.1   81.2   94.1   64.7
  28.1   10.3   63.2   30.4   45.    72.2   85.    39.3   48.    10.7
  12.    79.3   40.7    3.4   48.1   95.8   13.6   19.2   37.    43.5
  26.9   17.9   26.5   55.    52.4   61.9   89.5   39.1   29.2   81.
  21.9   30.6    6.9   59.1   77.3   52.     2.7   68.2   28.     6.5
   0.14   0.86   0.17   0.57   0.71  95.5    3.     1.4   65.    18.5
  44.8   60.9    3.2   76.    45.8    9.4    2.2   42.4   65.2   95.2
  87.     2.4   69.6    6.1    2.3   17.2   25.9    8.8   20.7    7.5
  36.    36.7   21.7   88.     2.6   91.3   82.6   17.1 ]
[ 1  0  2  3  4  6  5  8  7  9 11 12]

In [119]:
# Moving to next columns
print(loan_data.iloc[:6,95:99])
for y in loan_data.columns[95:99]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[95:99]))]

   total_il_high_credit_limit hardship_flag disbursement_method  \
0                     72241.0             N                Cash
1                    108587.0             N                Cash
2                     18310.0             N                Cash
3                     10620.0             N                Cash
4                         0.0             N                Cash
5                     53309.0             N                Cash

  debt_settlement_flag
0                    N
1                    N
2                    N
3                    N
4                    N
5                    N
total_il_high_credit_limit float64
hardship_flag object
disbursement_method object
debt_settlement_flag object

,LoanStatNew,Description
104,total_il_high_credit_limit,Total installment high credit/credit limit
128,hardship_flag,Flags whether or not the borrower is on a hardship plan
143,disbursement_method,"The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY"
144,debt_settlement_flag,"Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company."

In [120]:
# Convert nan/na to 0
loan_data[['tot_hi_cred_lim']] = loan_data[['tot_hi_cred_lim']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['total_bal_ex_mort']] = loan_data[['total_bal_ex_mort']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['total_bc_limit']] = loan_data[['total_bc_limit']].applymap(lambda x: 0 if pd.isnull(x) else x)
loan_data[['tax_liens']] = loan_data[['tax_liens']].applymap(lambda x: 0 if pd.isnull(x) else x)

# Converting all of them to in
loan_data[['tot_hi_cred_lim']] = loan_data[['tot_hi_cred_lim']].astype(int)
loan_data[['total_bal_ex_mort']] = loan_data[['total_bal_ex_mort']].astype(int)
loan_data[['total_bc_limit']] = loan_data[['total_bc_limit']].astype(int)

print(loan_data['tax_liens'].unique())
print(loan_data['tot_hi_cred_lim'].unique())
print(loan_data['total_bal_ex_mort'].unique())
print(loan_data['total_bc_limit'].unique())

[ 0  1  2  5  8 11  3  4  6 12  7 10 15  9 21 23 13 45 22 24 27 18 61 14
 48 53 17 25 85 16 46 28 19 20 39 63 34 29 44 37 30]
[682041 147587  32410 ... 584928 406665 147496]
[ 55500 140492  24644 ... 223324 122579 140580]
[77300 30200 12100 ... 27340 69145 71866]

In [121]:
# Moving to next columns
print(loan_data.iloc[:6,99:102])
for y in loan_data.columns[99:102]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[99:102]))]

   issue_d_month  issue_d_year  earliest_cr_line_month
0              9          2016                       5
1              9          2016                       1
2              9          2016                      10
3              9          2016                       3
4              9          2016                       2
5              9          2016                       8
issue_d_month int64
issue_d_year int64
earliest_cr_line_month int64

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [122]:
# Delete all the null data
print(loan_data.loc[loan_data['total_il_high_credit_limit'].isnull()].shape)
# print(loan_data.loc[loan_data['revol_bal_joint'].isnull()].shape)
# print(loan_data.loc[loan_data['sec_app_earliest_cr_line'].isnull()].shape)

# print(loan_data.shape)
# loan_data.dropna(subset=['total_il_high_credit_limit'], inplace=True)
# print(loan_data.shape)

# print(loan_data['total_il_high_credit_limit'].unique())
# print(loan_data['revol_bal_joint'].unique())
# print(loan_data['sec_app_earliest_cr_line'].unique())

(27710, 107)

In [123]:
# Remove revol_bal_joint and sec_app_earliest_cr_line, as there are too many nulls
# loan_data.drop('revol_bal_joint', 1)
# loan_data.drop('sec_app_earliest_cr_line', 1)

# Convert nan/na to 0
loan_data[['total_il_high_credit_limit']] = loan_data[['total_il_high_credit_limit']].applymap(lambda x: 0 if pd.isnull(x) else x)

# Converting all of them to in
loan_data[['total_il_high_credit_limit']] = loan_data[['total_il_high_credit_limit']].astype(int)

print(loan_data['total_il_high_credit_limit'].unique())

[ 72241 108587  18310 ... 127229 150514 130782]

In [124]:
# Moving to next columns
print(loan_data.iloc[:6,102:105])
for y in loan_data.columns[102:105]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[102:105]))]

   earliest_cr_line_year  last_pymnt_d_month  last_pymnt_d_year
0                   2002                  12               2017
1                   1996                   1               2018
2                   2011                   1               2018
3                   2006                   1               2018
4                   2004                   1               2018
5                   1986                   7               2017
earliest_cr_line_year int64
last_pymnt_d_month int64
last_pymnt_d_year int64

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [125]:
# Convert nan/na to 0
# loan_data[['sec_app_inq_last_6mths']] = loan_data[['sec_app_inq_last_6mths']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['sec_app_mort_acc']] = loan_data[['sec_app_mort_acc']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['sec_app_open_acc']] = loan_data[['sec_app_open_acc']].applymap(lambda x: 0 if pd.isnull(x) else x)

# print(loan_data['sec_app_inq_last_6mths'].unique())
# print(loan_data['sec_app_mort_acc'].unique())
# print(loan_data['sec_app_open_acc'].unique())

In [126]:
# These can be safely converted to int
# loan_data[['sec_app_inq_last_6mths']] = loan_data[['sec_app_inq_last_6mths']].astype(int)
# loan_data[['sec_app_mort_acc']] = loan_data[['sec_app_mort_acc']].astype(int)
# loan_data[['sec_app_open_acc']] = loan_data[['sec_app_open_acc']].astype(int)

# print(loan_data['sec_app_inq_last_6mths'].unique())
# print(loan_data['sec_app_mort_acc'].unique())
# print(loan_data['sec_app_open_acc'].unique())

In [127]:
# Moving to next columns
print(loan_data.iloc[:6,105:108])
for y in loan_data.columns[105:108]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[105:108]))]

   last_credit_pull_d_month  last_credit_pull_d_year
0                         1                     2018
1                         1                     2018
2                         1                     2018
3                         1                     2018
4                         1                     2018
5                         7                     2017
last_credit_pull_d_month int64
last_credit_pull_d_year int64

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [128]:
# First print the values. If things look ok, then convert them to int.
# print(loan_data['sec_app_revol_util'].unique())
# print(loan_data['sec_app_open_act_il'].unique())
# print(loan_data['sec_app_num_rev_accts'].unique())

In [129]:
# Convert nan/na to 0
# loan_data[['sec_app_revol_util']] = loan_data[['sec_app_revol_util']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['sec_app_open_act_il']] = loan_data[['sec_app_open_act_il']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['sec_app_num_rev_accts']] = loan_data[['sec_app_num_rev_accts']].applymap(lambda x: 0 if pd.isnull(x) else x)

# Convert them to int
# loan_data[['sec_app_revol_util']] = loan_data[['sec_app_revol_util']].astype(int)
# loan_data[['sec_app_open_act_il']] = loan_data[['sec_app_open_act_il']].astype(int)
# loan_data[['sec_app_num_rev_accts']] = loan_data[['sec_app_num_rev_accts']].astype(int)

# print(loan_data['sec_app_revol_util'].unique())
# print(loan_data['sec_app_open_act_il'].unique())
# print(loan_data['sec_app_num_rev_accts'].unique())

In [130]:
# Moving to next columns
print(loan_data.iloc[:6,108:110])
for y in loan_data.columns[108:110]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[108:110]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [131]:
# Print
# print('Before')
# print(loan_data['sec_app_chargeoff_within_12_mths'].unique())
# print(loan_data['sec_app_collections_12_mths_ex_med'].unique())

# Convert nan/na to 0
# loan_data[['sec_app_chargeoff_within_12_mths']] = loan_data[['sec_app_chargeoff_within_12_mths']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['sec_app_collections_12_mths_ex_med']] = loan_data[['sec_app_collections_12_mths_ex_med']].applymap(lambda x: 0 if pd.isnull(x) else x)

# Convert them to int
# loan_data[['sec_app_chargeoff_within_12_mths']] = loan_data[['sec_app_chargeoff_within_12_mths']].astype(int)
# loan_data[['sec_app_collections_12_mths_ex_med']] = loan_data[['sec_app_collections_12_mths_ex_med']].astype(int)

# Print again
# print('After')
# print(loan_data['sec_app_chargeoff_within_12_mths'].unique())
# print(loan_data['sec_app_collections_12_mths_ex_med'].unique())

In [132]:
# Moving to next columns
print(loan_data.iloc[:6,110:113])
for y in loan_data.columns[110:113]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[110:113]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [133]:
# print(loan_data['sec_app_mths_since_last_major_derog'].unique())
print(loan_data['hardship_flag'].unique())
# print(loan_data['hardship_type'].unique())

['N' 'Y']

In [134]:
# Convert nan/na to 0
# loan_data[['sec_app_mths_since_last_major_derog']] = loan_data[['sec_app_mths_since_last_major_derog']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['hardship_type']] = loan_data[['hardship_type']].applymap(lambda x: '0' if pd.isnull(x) else x)

# Converting sec_app_mths_since_last_major_derog to int.
# loan_data[['sec_app_mths_since_last_major_derog']] = loan_data[['sec_app_mths_since_last_major_derog']].astype(int)

# print(loan_data['sec_app_mths_since_last_major_derog'].unique())
print(loan_data['hardship_flag'].unique())
# print(loan_data['hardship_type'].unique())

['N' 'Y']

In [135]:
# Since hardship_type has only 2 values and one of the is a long string, changing that string to somethign small
# loan_data[['hardship_type']] = loan_data[['hardship_type']].applymap(lambda x: 'INT_ONLY' if x != '0' else x)

In [136]:
# print(loan_data['hardship_type'].unique())

In [137]:
# Moving to next columns
print(loan_data.iloc[:6,112:116])
for y in loan_data.columns[112:116]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[112:116]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [138]:
# print(loan_data['hardship_reason'].unique())
# print(loan_data['hardship_status'].unique())
# print(loan_data['deferral_term'].unique())
# print(loan_data['hardship_amount'].unique())

In [139]:
# Convert nan/na to 0
# loan_data[['hardship_reason']] = loan_data[['hardship_reason']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['hardship_status']] = loan_data[['hardship_status']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['deferral_term']] = loan_data[['deferral_term']].applymap(lambda x: 0 if pd.isnull(x) else x)
# loan_data[['hardship_amount']] = loan_data[['hardship_amount']].applymap(lambda x: 0 if pd.isnull(x) else x)

# Converting some of them to int
# loan_data[['deferral_term']] = loan_data[['deferral_term']].astype(int)

# Converting all the 0s to one type
# loan_data.loc[loan_data['hardship_reason'] == 0, 'hardship_reason'] = '0'
# loan_data.loc[loan_data['hardship_status'] == 0, 'hardship_status'] = '0'

# print(loan_data['hardship_reason'].unique())
# print(loan_data['hardship_status'].unique())
# print(loan_data['deferral_term'].unique())
# print(loan_data['hardship_amount'].unique())

In [140]:
# Moving to next columns
print(loan_data.iloc[:6,116:119])
for y in loan_data.columns[116:119]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[116:119]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [141]:
# Dropping all hardship related features
# loan_data = loan_data.drop('hardship_start_date', 1)
# loan_data = loan_data.drop('hardship_end_date', 1)
# loan_data = loan_data.drop('payment_plan_start_date', 1)

In [142]:
# Moving to next columns
print(loan_data.iloc[:6,116:119])
for y in loan_data.columns[116:119]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[116:119]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [143]:
# Dropping all hardship related features
# loan_data = loan_data.drop('hardship_dpd', 1)
# loan_data = loan_data.drop('hardship_loan_status', 1)
# loan_data = loan_data.drop('payment_plan_start_date', 1)

In [144]:
# Moving to next columns
print(loan_data.iloc[:6,116:119])
for y in loan_data.columns[116:119]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[116:119]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [145]:
# Dropping all hardship related features
# loan_data = loan_data.drop('hardship_payoff_balance_amount', 1)
# loan_data = loan_data.drop('hardship_last_payment_amount', 1)
loan_data = loan_data.drop('disbursement_method', 1)

In [146]:
# Moving to next columns
print(loan_data.iloc[:6,116:119])
for y in loan_data.columns[116:119]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[116:119]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [147]:
# Dropping debt_settlement_flag_date related features
# loan_data = loan_data.drop('debt_settlement_flag_date', 1)
# loan_data = loan_data.drop('settlement_date', 1)

In [148]:
# print(loan_data['debt_settlement_flag'].unique())
# print(loan_data['settlement_status'].unique())

In [149]:
# Converting nan to 0
# loan_data[['settlement_status']] = loan_data[['settlement_status']].applymap(lambda x: '0' if pd.isnull(x) else x)
# print(loan_data['settlement_status'].unique())

In [150]:
# Moving to next columns
print(loan_data.iloc[:6,119:122])
for y in loan_data.columns[119:122]:
  print(y, loan_data[y].dtype)
loan_dict.loc[loan_dict['LoanStatNew'].isin(list(loan_data.columns.values[119:122]))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

Empty DataFrame
Columns: [LoanStatNew, Description]
Index: []

In [151]:
# print(loan_data['settlement_amount'].unique())
# print(loan_data['settlement_percentage'].unique())
# print(loan_data['settlement_term'].unique())

In [152]:
# Convering nan to 0
# loan_data[['settlement_term']] = loan_data[['settlement_term']].applymap(lambda x: '0' if pd.isnull(x) else x)

In [153]:
# Since each object seems to string, convert it to numeric.
# loan_data['settlement_amount'] = pd.to_numeric(loan_data['settlement_amount'])
# loan_data['settlement_percentage'] = pd.to_numeric(loan_data['settlement_percentage'])
# loan_data['settlement_term'] = pd.to_numeric(loan_data['settlement_term'])

# print(loan_data['settlement_amount'].unique())
# print(loan_data['settlement_percentage'].unique())
# print(loan_data['settlement_term'].unique())

### Store the data
The data is store in a file so that another python script can read and do the data cleanup

In [154]:
# At this point the preliminary data reading and conversion are done.
# Save data pickle form
# Next would be to read the pickle data and run histogram in each entry.

loan_data.to_pickle('loan_data.pkl')

In [155]:
print(loan_data.shape)
loan_data.info()

(1738554, 106)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1738554 entries, 0 to 97853
Columns: 106 entries, loan_amnt to last_credit_pull_d_year
dtypes: float64(27), int64(65), object(14)
memory usage: 1.4+ GB